{
  "openapi": "3.1.0",
  "info": {
    "title": "Trooth Public API",
    "version": "1.1.0",
    "summary": "The read-only public surface of the Trooth Network.",
    "description": "Everything here answers a question about a software or AI company from published\nevidence, and needs no credential. It is the surface a person, an integrator or an\nauthorized agent may build on.\n\nWHAT IS DELIBERATELY ABSENT. Authentication flows are not documented: they are\nbrowser redirects in a login sequence, not an API. Unauthenticated endpoints that\nsend mail or start work are rate limited and undocumented on purpose. Every\nsession-authenticated endpoint is absent because publishing an internal route map\nhelps an attacker and promises an API that is not offered.\n\nEVIDENCE VOCABULARY. Responses distinguish witnessed, public record (wire value\n`verified`), declared, inferred, unknown, not applicable, restricted, unavailable,\nstale and conflicting. Unknown is an answer, never a blank\nfilled in, and stale is never the same as wrong. No response carries a figure, a\nrank or a grade for a company: the witness facts are coverage (checks that read as\nexpected, out of checks run), freshness (last read), continuity (unbroken since) and change.\n\nA 404 from these endpoints usually means the Network holds no record, which is an\nanswer rather than a failure.\n\nTHE OTHER HOST. These are the routes trooth.co serves. api.trooth.co is a separate\nservice with its own contract, https://trooth.co/openapi.yaml, and that document is\nthe canonical schema for GET https://api.trooth.co/public/trust/{slug}\n(PublicTrustProfile). The service applies no rate limit to that read. Its MCP server\nat https://api.trooth.co/public/mcp allows 120 tools/call requests a minute per IP\naddress, counted per server instance, and answers 429 with Retry-After: 60 over it.\n\nGenerated from app/api by scripts/gen-openapi.mjs. check:openapi fails the build\nwhen this document and the source disagree.",
    "contact": {
      "name": "Trooth developer support",
      "email": "developers@trooth.co",
      "url": "https://trooth.co/developers"
    },
    "license": {
      "name": "Terms of Service",
      "url": "https://trooth.co/terms"
    }
  },
  "servers": [
    {
      "url": "https://trooth.co",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {
      "NetworkProfileV2": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://trooth.co/schemas/network-profile.v2.schema.json",
        "title": "Trooth Network profile response, contract version 2",
        "description": "The body GET https://trooth.co/api/network/profile?q=<domain or slug> returns, as JSON Schema. This is the canonical shape: the route is tested against it on every push (tests/public-contract-schema.test.mjs) and the live route is checked against it after every deployment (scripts/verify-public-contract.mjs). The MCP tool trooth_public_trust_profile on api.trooth.co reads this body and writes its answer from it. Additions do not move the contract version and are not refused here; a removal, a rename or a change of meaning moves it, and a new file is published beside this one. What this schema deliberately refuses: any field named rating, rank, grade or confidence, because the contract carries none and a reader must not be able to find one.",
        "oneOf": [
          {
            "$ref": "#/$defs/notFound"
          },
          {
            "$ref": "#/$defs/found"
          }
        ],
        "$defs": {
          "nullableString": {
            "type": [
              "string",
              "null"
            ]
          },
          "notFound": {
            "type": "object",
            "description": "No published profile answers this query, or the query was refused. Not an error about the company; the Network does not hold it.",
            "required": [
              "found"
            ],
            "properties": {
              "found": {
                "const": false,
                "description": "Always false in this branch: no published profile answers the query."
              },
              "error": {
                "type": "string",
                "description": "A short machine code for why nothing was returned (for example missing q, rate_limited, unsupported_contract_version, profile_read_unavailable). Absent when the Network simply holds no profile for the query."
              },
              "message": {
                "type": "string",
                "description": "The same reason as a sentence, when there is one."
              },
              "contractVersion": {
                "type": "integer",
                "minimum": 1,
                "description": "The contract version this body follows."
              },
              "ambiguous": {
                "type": "boolean",
                "description": "True when q is a company name that several published companies carry (REQ-4-1629). No record was chosen; candidates lists what the name could mean. Additive in contract 2 (2026-09-29)."
              },
              "candidates": {
                "type": "array",
                "description": "Present with ambiguous. Each published company the name could mean, ordered by slug (an order that suggests none), with the exact query that selects it.",
                "items": {
                  "type": "object",
                  "required": [
                    "slug",
                    "name",
                    "domain",
                    "profileUrl",
                    "select"
                  ],
                  "properties": {
                    "slug": {
                      "type": "string",
                      "description": "The company's slug on the Network."
                    },
                    "name": {
                      "type": "string",
                      "description": "The company name as published."
                    },
                    "domain": {
                      "oneOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "The company's domain, or null when none is published."
                    },
                    "profileUrl": {
                      "type": "string",
                      "description": "The company's public Trust Profile page."
                    },
                    "select": {
                      "type": "string",
                      "description": "Send this as q to read this company's record and no other."
                    }
                  }
                }
              },
              "candidatesTotal": {
                "type": "integer",
                "minimum": 2,
                "description": "How many published companies carry the name, when ambiguous."
              },
              "candidatesTruncated": {
                "type": "boolean",
                "description": "True when candidates lists fewer companies than candidatesTotal."
              }
            }
          },
          "found": {
            "type": "object",
            "required": [
              "found",
              "contractVersion",
              "contractNote",
              "contractOmissions",
              "deprecation",
              "slug",
              "name",
              "domain",
              "canonicalUrl",
              "tagline",
              "industries",
              "updatedAt",
              "witnessed",
              "methodology",
              "facts",
              "conflicts"
            ],
            "properties": {
              "found": {
                "const": true,
                "description": "Always true in this branch: a published profile answers the query."
              },
              "contractVersion": {
                "type": "integer",
                "minimum": 1,
                "description": "The contract version of this body. It moves only when a field is removed or renamed or a value changes meaning."
              },
              "contractNote": {
                "type": "string",
                "minLength": 1,
                "description": "What the contract version promises, as a sentence."
              },
              "contractOmissions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1,
                "description": "Fields this contract deliberately does not carry, each with the reason, so a reader does not look for them."
              },
              "deprecation": {
                "type": "string",
                "description": "A notice when a field or this contract version is being retired; an empty string when nothing is."
              },
              "contractSchema": {
                "type": "string",
                "pattern": "^https://trooth\\.co/schemas/network-profile\\.v[0-9]+\\.schema\\.json$",
                "description": "The URL of this schema."
              },
              "sectionCapabilities": {
                "type": "string",
                "const": "https://trooth.co/section-capabilities.json",
                "description": "The section map: for each section of a company record, whether this full record, the bounded MCP summary, the profile Markdown and the directory entry carry it (supported), leave it out on purpose (omitted), cannot carry it yet (unavailable) or never carry it because it is private (unpublished). Static and free of company data. Absence in a projection is never a negative fact."
              },
              "slug": {
                "type": "string",
                "pattern": "^[a-z0-9][a-z0-9-]*$",
                "description": "The company's slug on the Network; send it as q to read the same record."
              },
              "name": {
                "type": "string",
                "minLength": 1,
                "description": "The company name as published."
              },
              "domain": {
                "$ref": "#/$defs/nullableString",
                "description": "The company's domain, or null when none is published."
              },
              "canonicalUrl": {
                "type": "string",
                "pattern": "^https://trooth\\.co/network/company/[a-z0-9-]+$",
                "description": "The company's public Trust Profile page, the human-readable form of this record."
              },
              "tagline": {
                "$ref": "#/$defs/nullableString",
                "description": "The company's one-line description, as the company wrote it, or null."
              },
              "industries": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Industries the company lists for itself."
              },
              "updatedAt": {
                "$ref": "#/$defs/nullableString",
                "description": "When the company last published a change to this record. An ISO 8601 date-time in UTC, or null when none is recorded."
              },
              "witnessed": {
                "$ref": "#/$defs/witnessBlock",
                "description": "What Trooth itself observed about the public surface. See the witnessBlock definition."
              },
              "witnessStatement": {
                "$ref": "#/$defs/witnessStatement",
                "description": "The one signed object in this response. Absent (the key is not in the body) when the latest reading has no signed statement."
              },
              "witnessEvidenceManifest": {
                "$ref": "#/$defs/witnessEvidenceManifest",
                "description": "The evidence manifest the statement binds by digest. Present with a v2 statement."
              },
              "methodology": {
                "$ref": "#/$defs/methodology",
                "description": "How readings are taken and kept, and what they do not cover."
              },
              "facts": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/fact"
                },
                "description": "Every fact in the selected sections, one per field, each with who said it (origin) and, in contract 2, typed provenance (claim) and record metadata (record). Not signed."
              },
              "conflicts": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/conflict"
                },
                "description": "Fields where sources gave different accounts, each account with its origin. Trooth does not choose between them."
              },
              "signing": {
                "$ref": "#/$defs/signing",
                "description": "What in this response is signed, and how to check it yourself."
              },
              "requestedContract": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "type": "integer"
                  }
                ],
                "description": "The contract the caller asked for with ?contract= or the Trooth-Contract header, or null when it asked for none. contractVersion is the contract that served the response. Additive in contract 2 (2026-09-26)."
              },
              "evidenceClasses": {
                "type": "object",
                "description": "What each evidenceClass value means. Additive in contract 2 (2026-09-26)."
              },
              "authority": {
                "type": "object",
                "description": "Domain control, registry match, representative authority and publication permission, each stated separately, and Trooth's own record of the domain claim in claim. Additive in contract 2 (2026-09-26); claim added 2026-10-07.",
                "required": [
                  "domainControl",
                  "registryMatch",
                  "representativeAuthority",
                  "publicationPermission"
                ],
                "properties": {
                  "claim": {
                    "type": "object",
                    "description": "Trooth's own record of the domain claim for the workspace that published this profile, as Trooth recorded it at claim time. Every field is null when nothing is recorded or the record could not be read. It shows control of the domain at claim time; it does not establish the legal entity or that a person may act for it. Absent on responses served before 2026-10-07.",
                    "required": [
                      "method",
                      "confirmed_at",
                      "representative"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "method": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "enum": [
                          "dns_txt",
                          "domain_email_code",
                          "identity_provider_sign_in",
                          null
                        ],
                        "description": "The proof that confirmed control of the domain: dns_txt (Trooth's challenge TXT record at _trooth-challenge.<domain>), domain_email_code (a code sent to a mailbox at the domain) or identity_provider_sign_in (a sign-in through the company's identity provider at the domain). Null when no proof is recorded."
                      },
                      "confirmed_at": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "When Trooth recorded the confirmation (ISO 8601), or null."
                      },
                      "representative": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "object",
                            "required": [
                              "id",
                              "attested_at",
                              "method"
                            ],
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^trooth:person:[0-9a-f]{16}$",
                                "description": "An opaque id for the person who attested at claim time that they may act for the company: the first 16 hex characters of SHA-256 over a fixed label, the owner account id and the domain. It holds no personal data and is stable for this claim."
                              },
                              "attested_at": {
                                "type": "string",
                                "description": "When the person made the attestation (ISO 8601)."
                              },
                              "method": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "enum": [
                                  "dns_txt",
                                  "domain_email_code",
                                  "identity_provider_sign_in",
                                  null
                                ],
                                "description": "The proof that person completed for this claim, in the same words as claim.method."
                              }
                            }
                          }
                        ],
                        "description": "The person who attested at claim time that they may act for the company, or null when no attestation is recorded. An attestation is the person's own statement; Trooth does not collect evidence of corporate authority."
                      }
                    }
                  }
                }
              },
              "relationships": {
                "type": "object",
                "description": "What a listed relationship does and does not establish. Additive in contract 2 (2026-09-26)."
              },
              "selection": {
                "type": "object",
                "description": "Which part of the record this response carries (REQ-4-1630). sections is the list asked for with ?sections=, or \"all\". recordVersion is the profile update time the page belongs to. total is how many facts the selected sections hold, returned how many this page carries, and truncated says whether any were left out; when it is true, next is a cursor to send as ?after= for the rest, refused as stale if the company publishes a new version in between. conflicts carries only the disagreements about facts on this page, and a contested fact stays marked.",
                "required": [
                  "sections",
                  "recordVersion",
                  "limit",
                  "returned",
                  "total",
                  "truncated",
                  "next"
                ],
                "properties": {
                  "sections": {
                    "oneOf": [
                      {
                        "const": "all"
                      },
                      {
                        "type": "array",
                        "items": {
                          "enum": [
                            "identity",
                            "registration",
                            "hosting",
                            "pricing",
                            "pricing-add-ons",
                            "security",
                            "privacy",
                            "privacy-roles",
                            "recovery",
                            "ai-practices"
                          ]
                        }
                      }
                    ],
                    "description": "The section ids asked for, or the word all."
                  },
                  "recordVersion": {
                    "type": "string",
                    "description": "The record version this page was read from. Use it with next to page through one version."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Facts per page as served, at most 200."
                  },
                  "returned": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Facts on this page."
                  },
                  "total": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Facts in the selected sections."
                  },
                  "truncated": {
                    "type": "boolean",
                    "description": "True when more facts follow on another page."
                  },
                  "next": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The cursor for the next page, or null when this page is the last."
                  },
                  "note": {
                    "type": "string",
                    "description": "What this page holds, as a sentence."
                  }
                }
              },
              "factFreshnessStatuses": {
                "type": "object",
                "description": "One sentence of meaning for each value of facts[].record.freshness.status.",
                "required": [
                  "current",
                  "due",
                  "stale",
                  "not_collected",
                  "unknown",
                  "unavailable",
                  "disputed"
                ],
                "properties": {
                  "current": {
                    "type": "string",
                    "description": "The meaning of the freshness status current, as a sentence."
                  },
                  "due": {
                    "type": "string",
                    "description": "The meaning of the freshness status due, as a sentence."
                  },
                  "stale": {
                    "type": "string",
                    "description": "The meaning of the freshness status stale, as a sentence."
                  },
                  "not_collected": {
                    "type": "string",
                    "description": "The meaning of the freshness status not_collected, as a sentence."
                  },
                  "unknown": {
                    "type": "string",
                    "description": "The meaning of the freshness status unknown, as a sentence."
                  },
                  "unavailable": {
                    "type": "string",
                    "description": "The meaning of the freshness status unavailable, as a sentence."
                  },
                  "disputed": {
                    "type": "string",
                    "description": "The meaning of the freshness status disputed, as a sentence."
                  }
                }
              },
              "profile": {
                "$ref": "#/$defs/companyRecord",
                "description": "The complete record in the order of the public page: every section with its state, provenance and meaning."
              }
            },
            "not": {
              "anyOf": [
                {
                  "required": [
                    "rating"
                  ]
                },
                {
                  "required": [
                    "rank"
                  ]
                },
                {
                  "required": [
                    "grade"
                  ]
                },
                {
                  "required": [
                    "confidence"
                  ]
                }
              ]
            }
          },
          "witnessBlock": {
            "description": "What Trooth itself has observed about the company's public surface. `standing` is either the word `witnessed` or null; there is no third value and no degree. Null throughout means no observation was returned, which is not a finding about the company.",
            "oneOf": [
              {
                "type": "object",
                "required": [
                  "standing",
                  "lastWitnessed",
                  "firstWitnessedAt",
                  "coverage",
                  "continuity"
                ],
                "properties": {
                  "standing": {
                    "const": "witnessed",
                    "description": "The word witnessed: Trooth has a reading of this public surface. It is not a grade and has no degrees."
                  },
                  "lastWitnessed": {
                    "$ref": "#/$defs/nullableString",
                    "description": "When the latest reading was taken. An ISO 8601 date-time in UTC, or null when none is recorded."
                  },
                  "firstWitnessedAt": {
                    "$ref": "#/$defs/nullableString",
                    "description": "When the first reading of this company was taken. An ISO 8601 date-time in UTC, or null when none is recorded."
                  },
                  "coverage": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "object",
                        "required": [
                          "checksPassed",
                          "checksRun"
                        ],
                        "properties": {
                          "checksPassed": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Checks read whose outcome was as expected. Part of checksRun, not a separate addend."
                          },
                          "checksRun": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Checks read in the latest reading."
                          },
                          "source": {
                            "enum": [
                              "witness_statement",
                              "result_tally"
                            ],
                            "description": "What checksRun and checksPassed count. witness_statement: computed from the signed witness statement's entries; checksRun is checks read in this reading. result_tally: the reading's own tally for a reading with no statement; not a count of checks read. Additive in contract 2 (2026-09-26); absent on responses served before it."
                          },
                          "definition": {
                            "type": "string",
                            "description": "The same meaning, as a sentence."
                          },
                          "checksNotRead": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Entries in the reading that were not read in it. Present when source is witness_statement."
                          },
                          "checksNotAsExpected": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Entries read whose outcome was not as expected: checksRun minus checksPassed, so checksRun = checksPassed + checksNotAsExpected. Present when source is witness_statement. Additive (2026-09-28)."
                          },
                          "checksInReading": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "checksRun plus checksNotRead. Present when source is witness_statement."
                          }
                        }
                      }
                    ],
                    "description": "What the latest reading counted, reported apart and never combined into one number; null when no counts are available."
                  },
                  "continuity": {
                    "type": "object",
                    "required": [
                      "recordBegan",
                      "unbrokenSince",
                      "unbrokenReadings",
                      "totalReadings"
                    ],
                    "properties": {
                      "recordBegan": {
                        "$ref": "#/$defs/nullableString",
                        "description": "When the reading series began. An ISO 8601 date-time in UTC, or null when none is recorded."
                      },
                      "unbrokenSince": {
                        "$ref": "#/$defs/nullableString",
                        "description": "Since when readings have stayed within the gap tolerance. An ISO 8601 date-time in UTC, or null when none is recorded."
                      },
                      "unbrokenReadings": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Readings in the current unbroken series."
                      },
                      "totalReadings": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Readings kept in the retention window."
                      }
                    },
                    "description": "How long readings have run without a gap longer than methodology.gapTolerance."
                  }
                }
              },
              {
                "type": "object",
                "required": [
                  "standing",
                  "lastWitnessed",
                  "firstWitnessedAt",
                  "coverage",
                  "continuity"
                ],
                "properties": {
                  "standing": {
                    "type": "null",
                    "description": "Null: no reading was returned. That is not a finding about the company."
                  },
                  "lastWitnessed": {
                    "type": "null",
                    "description": "Null when there is no reading."
                  },
                  "firstWitnessedAt": {
                    "type": "null",
                    "description": "Null when there is no reading."
                  },
                  "coverage": {
                    "type": "null",
                    "description": "Null when there is no reading."
                  },
                  "continuity": {
                    "type": "null",
                    "description": "Null when there is no reading."
                  }
                }
              }
            ]
          },
          "witnessStatement": {
            "type": "object",
            "description": "Trooth's signed statement of the reading behind `witnessed`, carried exactly as the upstream witness worker signed it. Present only when that reading was signed under the witness statement; absent (the key is not in the body) for an older reading, which is not a failed check. `payload` is the signing input itself: check the Ed25519 signature over its UTF-8 bytes with the key `key_id` names at https://api.trooth.co/public/keys, decoding that key by its `encoding`, then parse `payload` to read it. Two versions exist, named by the payload's own `statement` field. trooth.witness-statement.v2 (readings signed from 2026-10-04) carries `statement`, `reading_id`, `domain`, `read_at`, `subject_scope` (`domain`, `surface`, `checks_in_scope`), `methodology` (`standard`, `mapping_version`, `mapping_url`, `mapping_digest`: sha256 over the exact bytes of the immutable mapping file at https://trooth.co/standard/check-mapping/<version>.json), `evaluator` (`name`, `version`), `evidence_manifest` (`digest`, `entries`, `canonicalization`), `checks` (each with `id`, `category`, `kind`, an `outcome` of `as expected`, `not as expected` or `not read`, and for every outcome other than `as expected` a `reason` with a versioned `code`, a `source_ref` or an explicit `withheld` and `withheld_reason`) and `counts` (`read`, `as_expected`, `not_as_expected`, `not_read`, `in_reading`, with read + not_read = in_reading and as_expected + not_as_expected = read). A timeout or an unavailable source is `not read`, never `not as expected`. trooth.witness-statement.v1 (earlier readings) carries `statement`, `reading_id`, `domain`, `read_at`, `checks` (`id`, `category`, `kind`, `outcome`) and `counts` (`read`, `as_expected`). Its assurance is narrower: it shows the key signed those outcome bytes and does not bind the check mapping, the evaluator version, the subject scope or the evidence sources. No digest is ever added to a v1 statement. Neither version carries a verdict, a threshold or a composite figure. This is the only signed part of the body. Trooth signs what it witnessed. It never signs on a company's behalf.",
            "required": [
              "payload",
              "signature",
              "key_id",
              "alg",
              "canonicalization"
            ],
            "properties": {
              "payload": {
                "type": "string",
                "minLength": 2,
                "description": "The exact string that was signed. Do not re-serialize it before checking."
              },
              "signature": {
                "type": "string",
                "pattern": "^ed25519:[A-Za-z0-9+/]+={0,2}$",
                "description": "The prefix `ed25519:` followed by the standard base64 of the 64 signature bytes."
              },
              "key_id": {
                "type": "string",
                "minLength": 1,
                "description": "The `kid` of the signing key at https://api.trooth.co/public/keys."
              },
              "alg": {
                "const": "Ed25519",
                "description": "The signature algorithm: Ed25519 (RFC 8032)."
              },
              "canonicalization": {
                "type": "string",
                "minLength": 1,
                "description": "How the worker serialized the payload before signing: JSON with keys in a fixed order and no whitespace, as UTF-8. `payload` is already in that form."
              }
            }
          },
          "witnessEvidenceManifest": {
            "type": "array",
            "description": "The evidence manifest a trooth.witness-statement.v2 statement binds through `evidence_manifest.digest`: one entry per check, each a public `source` reference or a `commitment` (sha256 over a secret salt, one 0x0a byte and a private reference) where publishing the reference would expose a company's declaration or a sensitive path. Recompute the digest as sha256 over the UTF-8 bytes of the entries sorted by `check_id` and serialized as JSON with keys `check_id` then `source` or `commitment` and no whitespace, and compare it to the signed digest. Additive (2026-10-04); present only beside a v2 statement, never beside v1, and not itself signed.",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "required": [
                    "check_id",
                    "source"
                  ],
                  "properties": {
                    "check_id": {
                      "type": "string",
                      "minLength": 1,
                      "description": "The check id in the mapping the statement names. Unique in the manifest."
                    },
                    "source": {
                      "type": "string",
                      "minLength": 1,
                      "description": "The public URL the check read."
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "check_id",
                    "commitment"
                  ],
                  "properties": {
                    "check_id": {
                      "type": "string",
                      "minLength": 1,
                      "description": "The check id in the mapping the statement names. Unique in the manifest."
                    },
                    "commitment": {
                      "type": "string",
                      "pattern": "^sha256:[0-9a-f]{64}$",
                      "description": "sha256 over a secret salt, one 0x0a byte and the private reference; only the company holding it can open it."
                    }
                  }
                }
              ]
            }
          },
          "methodology": {
            "type": "object",
            "description": "How the witnessed block was produced and what it does not cover. Included in every response so a reader restating witnessed elsewhere can carry the limits with it.",
            "required": [
              "cadence",
              "gapTolerance",
              "retention",
              "freshness",
              "exclusions",
              "summary"
            ],
            "properties": {
              "cadence": {
                "type": "string",
                "description": "How often readings are attempted, as a sentence."
              },
              "gapTolerance": {
                "type": "string",
                "description": "The longest gap between readings that still counts as unbroken, as a sentence."
              },
              "retention": {
                "type": "string",
                "description": "How long readings are kept, as a sentence."
              },
              "freshness": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "category",
                    "label",
                    "window"
                  ],
                  "properties": {
                    "category": {
                      "type": "string",
                      "description": "The fact category id."
                    },
                    "label": {
                      "type": "string",
                      "description": "The category as words."
                    },
                    "window": {
                      "type": "string",
                      "description": "How long an observation in this category stays current, as words (for example 48 hours)."
                    }
                  }
                },
                "description": "For each category of fact, how long an observation stays current."
              },
              "exclusions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1,
                "description": "What the readings do not cover, one sentence each."
              },
              "summary": {
                "type": "string",
                "description": "The methodology in one paragraph, for a reader restating witnessed elsewhere."
              }
            }
          },
          "origin": {
            "description": "Who said it. company-declared is the company's own statement; witnessed is Trooth's observation; public-source is a named third party. The order accounts are listed in is fixed and is not a ranking.",
            "enum": [
              "company-declared",
              "witnessed",
              "public-source"
            ]
          },
          "fact": {
            "type": "object",
            "required": [
              "key",
              "category",
              "label",
              "value",
              "origin"
            ],
            "properties": {
              "key": {
                "type": "string",
                "pattern": "^[a-z0-9-]+\\.[a-z0-9-]+$",
                "description": "The stable field key, section.field (for example identity.legal-name)."
              },
              "category": {
                "type": "string",
                "description": "The section the fact belongs to, as words."
              },
              "label": {
                "type": "string",
                "description": "The field name, as words."
              },
              "value": {
                "type": "string",
                "description": "The value as published, as text."
              },
              "origin": {
                "$ref": "#/$defs/origin",
                "description": "Who said it: company-declared, witnessed or public-source."
              },
              "contested": {
                "type": "boolean",
                "description": "True when another source gave a different account; the accounts are in conflicts under the same key, and value is one of them, not the winner."
              },
              "claim": {
                "type": "object",
                "description": "Typed provenance for this claim, additive in contract 2 (2026-09-26). Fields Trooth does not hold are null and named in unknown; a claim never inherits the reading's time or signature.",
                "required": [
                  "claimId",
                  "subject",
                  "evidenceClass",
                  "signed",
                  "issuerAuthenticated",
                  "unknown"
                ],
                "properties": {
                  "claimId": {
                    "type": "string",
                    "description": "The claim id: the domain, a # and the field key. Stable across record versions."
                  },
                  "subject": {
                    "type": "object",
                    "required": [
                      "domain",
                      "scope"
                    ],
                    "properties": {
                      "domain": {
                        "type": "string",
                        "description": "The company domain the claim is about."
                      },
                      "scope": {
                        "const": "company",
                        "description": "Always company: the claim is about the company as a whole."
                      }
                    },
                    "description": "What the claim is about."
                  },
                  "evidenceClass": {
                    "enum": [
                      "company_declaration",
                      "trooth_observation",
                      "public_record"
                    ],
                    "description": "company_declaration: the company said it. trooth_observation: Trooth read it from the public surface. public_record: a named outside source."
                  },
                  "declaredAt": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "For a company declaration, the time an authorized publish on Trooth first carried the current value, or of a later publish at which an owner or admin declared every published fact again. Null for a fact published before Trooth began recording it, unchanged since and not declared again; never a profile version date or a reading time."
                  },
                  "observedAt": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "When Trooth or a public source observed the value, or null. An ISO 8601 date-time in UTC, or null when none is recorded."
                  },
                  "validUntil": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "When the claim stops applying, when the source states it; otherwise null."
                  },
                  "evidenceRef": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "The reference a declared fact cites, as the company gave it, or null. Trooth has not opened it."
                  },
                  "signed": {
                    "const": false,
                    "description": "Always false: a fact is not signed by anyone. The one signed object is witnessStatement."
                  },
                  "issuerAuthenticated": {
                    "type": "boolean",
                    "description": "True only when the publish that carried this value was accepted from a signed-in Trooth session whose workspace role was owner or admin, or from the workspace AI agent acting in such a session while its publishing permission was on. False for every other declaration, every observation and every public record. It is about the publishing session: it does not mean Trooth checked the statement, that a document issuer was authenticated, or that the person holds legal authority for the company. Before 2026-10-04 this field was always false."
                  },
                  "unknown": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Names of claim fields Trooth does not know for this fact; they are listed rather than guessed."
                  },
                  "declaredBy": {
                    "description": "Additive (2026-10-04). Present only when declaredAt is set: the actor class and workspace role of the session that published the value. Absent otherwise. Carries no personal data.",
                    "type": "object",
                    "required": [
                      "actorClass",
                      "role"
                    ],
                    "properties": {
                      "actorClass": {
                        "enum": [
                          "person",
                          "agent"
                        ],
                        "description": "person or agent: what kind of signed-in actor published the value."
                      },
                      "role": {
                        "enum": [
                          "owner",
                          "admin",
                          "editor",
                          "unknown"
                        ],
                        "description": "The publisher's role in the company workspace: owner, admin, editor, or unknown."
                      }
                    }
                  }
                }
              },
              "record": {
                "type": "object",
                "description": "Per-fact identity, issuer, method version and freshness, additive in contract 2 (2026-09-29, REQ-4-1640 and REQ-4-1588). freshness.status tells seven answers apart instead of one null: current, due and stale are a dated observation against its category window; not_collected is a company statement Trooth does not re-read; unknown is an origin with no recorded observation time or an unreadable date; unavailable is a source not read on this pass; disputed means another account is in conflicts. Fields Trooth does not hold are null and explained in unknown.",
                "required": [
                  "companyId",
                  "canonicalDomain",
                  "recordVersion",
                  "factId",
                  "provenanceKind",
                  "issuer",
                  "sourceReference",
                  "observedAt",
                  "attestedAt",
                  "collectedAt",
                  "evidenceReference",
                  "methodVersion",
                  "freshness",
                  "unknown"
                ],
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "The company's id on the Network (its slug)."
                  },
                  "canonicalDomain": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "The company's domain, or null."
                  },
                  "recordVersion": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "The record version this fact was read from, or null."
                  },
                  "factId": {
                    "type": "string",
                    "description": "The fact id; equals claim.claimId."
                  },
                  "provenanceKind": {
                    "enum": [
                      "company_declaration",
                      "trooth_observation",
                      "public_record"
                    ],
                    "description": "The same value as claim.evidenceClass."
                  },
                  "issuer": {
                    "type": "object",
                    "required": [
                      "kind",
                      "name"
                    ],
                    "properties": {
                      "kind": {
                        "enum": [
                          "company",
                          "trooth",
                          "public_source"
                        ],
                        "description": "company, trooth or public_source."
                      },
                      "name": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ],
                        "description": "The issuer name, or null."
                      }
                    },
                    "description": "Who issued the value."
                  },
                  "sourceReference": {
                    "type": "string",
                    "description": "Where the value can be read: the profile page for a declaration, the source for a public record."
                  },
                  "observedAt": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "The same value as claim.observedAt."
                  },
                  "attestedAt": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "The same value as claim.declaredAt."
                  },
                  "collectedAt": {
                    "type": "null",
                    "description": "Always null: the record keeps when a version was published, not when each field entered it."
                  },
                  "evidenceReference": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "The same value as claim.evidenceRef."
                  },
                  "methodVersion": {
                    "type": "string",
                    "description": "The version of the method that produced this record entry."
                  },
                  "freshness": {
                    "type": "object",
                    "required": [
                      "status",
                      "collection",
                      "lastObservedAt",
                      "windowDays",
                      "windowCategory",
                      "nextExpectedRefresh"
                    ],
                    "properties": {
                      "status": {
                        "enum": [
                          "current",
                          "due",
                          "stale",
                          "not_collected",
                          "unknown",
                          "unavailable",
                          "disputed"
                        ],
                        "description": "One of the statuses explained in factFreshnessStatuses."
                      },
                      "collection": {
                        "enum": [
                          "declared_by_company",
                          "read_by_trooth",
                          "public_source"
                        ],
                        "description": "How the value arrives: declared_by_company, read_by_trooth or public_source."
                      },
                      "lastObservedAt": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ],
                        "description": "The last dated observation, or null. An ISO 8601 date-time in UTC, or null when none is recorded."
                      },
                      "windowDays": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "integer",
                            "minimum": 0
                          }
                        ],
                        "description": "The freshness window in days, or null when the value has none."
                      },
                      "windowCategory": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ],
                        "description": "The methodology.freshness category that sets the window, or null."
                      },
                      "nextExpectedRefresh": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ],
                        "description": "When a fresh observation is next expected, or null."
                      }
                    },
                    "description": "Whether the value is inside its category freshness window."
                  },
                  "unknown": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Record fields Trooth does not know for this fact, each with the reason."
                  }
                }
              }
            }
          },
          "conflict": {
            "type": "object",
            "required": [
              "key",
              "category",
              "label",
              "accounts"
            ],
            "properties": {
              "key": {
                "type": "string",
                "description": "The field key the accounts disagree on."
              },
              "category": {
                "type": "string",
                "description": "The section, as words."
              },
              "label": {
                "type": "string",
                "description": "The field name, as words."
              },
              "accounts": {
                "type": "array",
                "minItems": 2,
                "items": {
                  "type": "object",
                  "required": [
                    "origin",
                    "value"
                  ],
                  "properties": {
                    "origin": {
                      "$ref": "#/$defs/origin",
                      "description": "Who gave this account."
                    },
                    "value": {
                      "type": "string",
                      "description": "The account, as text."
                    }
                  }
                },
                "description": "Each account, with who gave it. Listed in a fixed order that is not a ranking."
              }
            }
          },
          "signing": {
            "type": "object",
            "description": "What in this response is signed. Additive in contract 2 (2026-09-26). profileSigned is always false: the one signed object is witnessStatement, which covers one reading and nothing else.",
            "required": [
              "profileSigned",
              "signedArtifact",
              "subject"
            ],
            "properties": {
              "profileSigned": {
                "const": false,
                "description": "Always false: this response as a whole is not signed."
              },
              "signedArtifact": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "const": "witnessStatement"
                  }
                ],
                "description": "The name of the one signed field, witnessStatement, or null when there is no statement."
              },
              "artifactType": {
                "type": "string",
                "enum": [
                  "trooth.witness-statement.v1",
                  "trooth.witness-statement.v2"
                ],
                "description": "The signed statement's own type tag. With no statement, trooth.witness-statement.v1."
              },
              "subject": {
                "type": "string",
                "description": "What the signed statement covers and does not cover, as a sentence."
              },
              "binding": {
                "description": "What the statement binds (additive, 2026-10-04). null when there is no statement. `status` is `present` for v2 and `absent` for v1, whose assurance is narrower: v1 binds no mapping, evaluator version, scope or sources, and its digests here are null rather than filled in. This block is read from the payload; it is not a check of the signature or of the binding.",
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "type": "object",
                    "required": [
                      "status",
                      "assurance"
                    ],
                    "properties": {
                      "status": {
                        "enum": [
                          "present",
                          "absent"
                        ],
                        "description": "present for a v2 statement, which binds the items below; absent for v1."
                      },
                      "mappingVersion": {
                        "$ref": "#/$defs/nullableString",
                        "description": "The check mapping version the statement binds, or null."
                      },
                      "mappingUrl": {
                        "$ref": "#/$defs/nullableString",
                        "description": "Where the exact mapping bytes are served, or null."
                      },
                      "mappingDigest": {
                        "$ref": "#/$defs/nullableString",
                        "description": "sha256: plus the hex SHA-256 of those exact bytes, or null."
                      },
                      "evaluatorVersion": {
                        "$ref": "#/$defs/nullableString",
                        "description": "The evaluator version the statement binds, or null."
                      },
                      "evidenceManifestDigest": {
                        "$ref": "#/$defs/nullableString",
                        "description": "The digest of the evidence manifest the statement binds, or null."
                      },
                      "assurance": {
                        "type": "string",
                        "description": "What the binding shows and does not show, as a sentence."
                      },
                      "mappingVersions": {
                        "type": "string",
                        "description": "The index of every published mapping version."
                      }
                    }
                  }
                ]
              },
              "keyId": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "type": "string"
                  }
                ],
                "description": "The kid of the signing key, or null when there is no statement."
              },
              "keyPurpose": {
                "type": "string",
                "description": "What the signing key signs, as a sentence."
              },
              "observedAt": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "type": "string"
                  }
                ],
                "description": "The time the statement carries, or null. An ISO 8601 date-time in UTC, or null when none is recorded."
              },
              "timeSource": {
                "type": "string",
                "description": "Where that time comes from. Trooth asserts it when signing; there is no external timestamp."
              },
              "verify": {
                "type": "string",
                "description": "How to check the statement yourself."
              },
              "keys": {
                "type": "string",
                "description": "The published key list."
              },
              "keyPolicy": {
                "type": "string",
                "description": "The key lifecycle policy page."
              }
            }
          },
          "recordField": {
            "type": "object",
            "required": [
              "label",
              "value"
            ],
            "properties": {
              "label": {
                "type": "string",
                "description": "The field name, as words."
              },
              "value": {
                "type": "string",
                "description": "The value as published, as text."
              }
            },
            "additionalProperties": false
          },
          "recordProvenance": {
            "enum": [
              "company_declared",
              "trooth_observation",
              "public_sources",
              "named_customers",
              "mixed"
            ],
            "description": "Who said it. company_declared: the company's own statement, published as written and not certified. trooth_observation: Trooth's reading of the company's public surface at the time shown. public_sources: named outside sources, each linked. named_customers: endorsements from named customers. mixed: more than one of these, labeled per group."
          },
          "recordItem": {
            "type": "object",
            "required": [
              "title",
              "fields",
              "notes",
              "links"
            ],
            "properties": {
              "title": {
                "type": "string",
                "description": "The item title."
              },
              "fields": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordField"
                },
                "description": "The item fields, label and value."
              },
              "notes": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Notes the record attaches to the item."
              },
              "links": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordField"
                },
                "description": "Links the item carries, label and value."
              },
              "data": {
                "type": "object",
                "description": "The structured object the item was read from, empty values removed and uploads dropped."
              }
            },
            "additionalProperties": false
          },
          "recordGroup": {
            "type": "object",
            "required": [
              "title",
              "provenance",
              "fields",
              "items",
              "notes"
            ],
            "properties": {
              "title": {
                "type": "string",
                "description": "The group title, as on the page."
              },
              "provenance": {
                "$ref": "#/$defs/recordProvenance",
                "description": "Who said what is in this group."
              },
              "fields": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordField"
                },
                "description": "Fields of the group, label and value."
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordItem"
                },
                "description": "Repeated items in the group (for example one per product)."
              },
              "notes": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Notes the record attaches to the group."
              }
            },
            "additionalProperties": false
          },
          "recordSection": {
            "type": "object",
            "required": [
              "id",
              "title",
              "url",
              "state",
              "provenance",
              "meaning",
              "fields",
              "groups",
              "notes"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "The section id (for example overview, security). Usable in ?sections=."
              },
              "title": {
                "type": "string",
                "description": "The section title, as on the page."
              },
              "url": {
                "type": "string",
                "description": "The page that shows the section."
              },
              "state": {
                "enum": [
                  "published",
                  "not_published",
                  "hidden_by_company",
                  "unavailable",
                  "request_only"
                ],
                "description": "published: the company shows content here. not_published: the section is shown but empty; say it is not published, never fill it. hidden_by_company: the company chose not to show it; no values are carried. unavailable: Trooth could not read this part on this load; it is not empty. request_only: the content exists behind a request and is never carried."
              },
              "provenance": {
                "$ref": "#/$defs/recordProvenance",
                "description": "Who said what is in this section."
              },
              "meaning": {
                "type": "string",
                "description": "What an agent should say about this section, in one or two sentences."
              },
              "fields": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordField"
                },
                "description": "Fields of the section, label and value."
              },
              "groups": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordGroup"
                },
                "description": "Groups within the section."
              },
              "notes": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Notes the record attaches to the section."
              }
            },
            "additionalProperties": false
          },
          "companyRecord": {
            "type": "object",
            "description": "The complete machine-readable profile: every section the public page at canonicalUrl can show, in its order, each with a state, a provenance and a meaning. Additive in contract 2 (2026-10-05). Format trooth.company-profile.v1.",
            "required": [
              "format",
              "name",
              "canonicalUrl",
              "markdownUrl",
              "updatedAt",
              "howToRead",
              "completeness",
              "header",
              "sections"
            ],
            "properties": {
              "format": {
                "const": "trooth.company-profile.v1",
                "description": "The record format."
              },
              "name": {
                "type": "string",
                "description": "The company name as published."
              },
              "canonicalUrl": {
                "type": "string",
                "description": "The company's public Trust Profile page."
              },
              "markdownUrl": {
                "type": "string",
                "description": "The same record as Markdown."
              },
              "updatedAt": {
                "$ref": "#/$defs/nullableString",
                "description": "When the company last published a change. An ISO 8601 date-time in UTC, or null when none is recorded."
              },
              "howToRead": {
                "type": "string",
                "description": "How to read and cite this record, as a paragraph."
              },
              "completeness": {
                "type": "object",
                "required": [
                  "sections",
                  "published",
                  "notPublished",
                  "hiddenByCompany",
                  "unavailable",
                  "requestOnly"
                ],
                "properties": {
                  "sections": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "The number of sections in the record."
                  },
                  "published": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Ids of sections with content."
                  },
                  "notPublished": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Ids of sections shown but empty."
                  },
                  "hiddenByCompany": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Ids of sections the company chose to hide."
                  },
                  "unavailable": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Ids of sections that could not be read just now."
                  },
                  "requestOnly": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Ids of sections shared on request only."
                  }
                },
                "additionalProperties": false,
                "description": "Which sections hold content and which do not, by state. A list, not a percentage."
              },
              "header": {
                "type": "object",
                "required": [
                  "name",
                  "tagline",
                  "website",
                  "logoUrl",
                  "links",
                  "callToAction"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The company name."
                  },
                  "tagline": {
                    "type": "string",
                    "description": "The tagline, or an empty string."
                  },
                  "website": {
                    "type": "string",
                    "description": "The company website, or an empty string."
                  },
                  "logoUrl": {
                    "type": "string",
                    "description": "The logo URL, or an empty string."
                  },
                  "links": {
                    "type": "array",
                    "items": {
                      "$ref": "#/$defs/recordField"
                    },
                    "description": "Links the company lists, label and value."
                  },
                  "callToAction": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "$ref": "#/$defs/recordField"
                      }
                    ],
                    "description": "The call to action the page shows, or null."
                  }
                },
                "additionalProperties": false,
                "description": "The page header: name, tagline, website, logo and links."
              },
              "sections": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordSection"
                },
                "description": "Every section in page order."
              }
            },
            "additionalProperties": false
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "A short machine-readable reason."
          },
          "message": {
            "type": "string",
            "description": "The same reason, as a sentence."
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "description": "RFC 9457 problem details, served instead of the Error body when the request's Accept header names application/problem+json. Every other caller receives the Error body. Unknown members must be ignored (RFC 9457 section 3.2).",
        "required": [
          "type",
          "title",
          "status",
          "code",
          "request_id",
          "retryable",
          "next_action"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "Stable per code; resolves to the code's entry at https://trooth.co/developers#problem-<code>."
          },
          "title": {
            "type": "string",
            "description": "Fixed per type."
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string",
            "description": "This occurrence, in words. Never a stack, a path or a credential."
          },
          "instance": {
            "type": "string",
            "description": "urn:trooth:request:<request_id>"
          },
          "code": {
            "type": "string",
            "description": "The stable machine code, one of those listed at https://trooth.co/developers#errors."
          },
          "request_id": {
            "type": "string",
            "description": "The same value as the X-Request-Id response header."
          },
          "retryable": {
            "type": "boolean"
          },
          "retry_after": {
            "type": "integer",
            "description": "Seconds, the same number as Retry-After. Present only when a wait is known."
          },
          "retry_at": {
            "type": "string",
            "format": "date-time"
          },
          "next_action": {
            "type": "string",
            "enum": [
              "retry_later",
              "fix_request",
              "start_over",
              "resync",
              "use_current_record",
              "none"
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pointer": {
                  "type": "string"
                },
                "parameter": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "DirectorySummary": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "standing"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "standing": {
            "enum": [
              "Witnessed",
              "Self-published"
            ]
          },
          "industry": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "tagline": {
            "type": "string"
          },
          "last_scan": {
            "type": "string",
            "description": "The date of the last witnessed reading, when there is one."
          }
        }
      },
      "DirectorySearch": {
        "type": "object",
        "required": [
          "results",
          "total",
          "next_offset",
          "next_cursor"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DirectorySummary"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "next_offset": {
            "type": [
              "integer",
              "null"
            ],
            "deprecated": true
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "error": {
            "type": "string"
          }
        }
      },
      "DirectoryFeatured": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DirectorySummary"
            }
          }
        }
      },
      "DirectoryVendor": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "standing"
        ],
        "description": "A DirectorySummary with the published profile's sections. Fields beyond these are additive.",
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "standing": {
            "enum": [
              "Witnessed",
              "Self-published"
            ]
          },
          "tagline": {
            "type": "string"
          },
          "last_scan": {
            "type": "string"
          }
        }
      },
      "PublicMesh": {
        "type": "object",
        "required": [
          "company",
          "frameworks",
          "pillars",
          "providers",
          "controls"
        ],
        "properties": {
          "sample": {
            "type": "boolean"
          },
          "company": {
            "type": "object",
            "required": [
              "name",
              "handle",
              "updatedAt"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "handle": {
                "type": "string"
              },
              "updatedAt": {
                "type": "string",
                "description": "The last edit to the company. Not an observation time."
              }
            }
          },
          "frameworks": {
            "type": "array",
            "maxItems": 0,
            "description": "Retired 2026-09-26; always empty."
          },
          "pillars": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "label",
                "status"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "restricted": {
                  "type": "boolean"
                },
                "observedAt": {
                  "type": "string",
                  "description": "Added 2026-10-04. When Trooth last read this area, present only when the upstream states it for the area and the area is not restricted."
                },
                "sourceRef": {
                  "type": "string",
                  "description": "Added 2026-10-04. The upstream's reference to the reading behind this area, when it gives one."
                }
              }
            }
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "label",
                "status"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "lastSync": {
                  "type": "string",
                  "description": "Kept for older readers. Since 2026-10-04 it dates no area and no badge: the newest provider read says nothing about the age of an unrelated area."
                }
              }
            }
          },
          "rollup": {
            "type": "array",
            "description": "Added 2026-10-04. Every area as one fact, held to its own category window (lib/evidence.ts FRESHNESS_POLICY). observedAt is null and freshness unknown when no per-area read time is published; unknown is never shown as current.",
            "items": {
              "type": "object",
              "required": [
                "pillarId",
                "label",
                "status",
                "counted",
                "evidenceClass",
                "observation",
                "sourceRef",
                "observedAt",
                "validity",
                "freshness",
                "scope",
                "unknown"
              ],
              "properties": {
                "pillarId": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "status": {
                  "enum": [
                    "witnessed",
                    "attention",
                    "failing",
                    "not_started",
                    "restricted"
                  ]
                },
                "counted": {
                  "type": "boolean"
                },
                "evidenceClass": {
                  "enum": [
                    "trooth_observation",
                    "no_evidence",
                    "restricted"
                  ]
                },
                "observation": {
                  "type": "string"
                },
                "sourceRef": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ]
                },
                "observedAt": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ]
                },
                "validity": {
                  "type": "object",
                  "required": [
                    "category",
                    "windowDays",
                    "validUntil"
                  ],
                  "properties": {
                    "category": {
                      "type": "string"
                    },
                    "windowDays": {
                      "type": "integer"
                    },
                    "validUntil": {
                      "oneOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    }
                  }
                },
                "freshness": {
                  "enum": [
                    "current",
                    "due",
                    "stale",
                    "unknown"
                  ]
                },
                "scope": {
                  "type": "object",
                  "required": [
                    "subject",
                    "scope",
                    "area"
                  ],
                  "properties": {
                    "subject": {
                      "type": "string"
                    },
                    "scope": {
                      "const": "company"
                    },
                    "area": {
                      "type": "string"
                    }
                  }
                },
                "unknown": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "badge": {
            "type": "object",
            "description": "Added 2026-10-04. The state and the two lines the badge script and the badge image print, derived from rollup.",
            "required": [
              "kind",
              "line",
              "detail",
              "asOf",
              "counted",
              "witnessed",
              "staleAreas",
              "undatedAreas",
              "restrictedAreas"
            ],
            "properties": {
              "kind": {
                "enum": [
                  "witnessed",
                  "partial",
                  "listed"
                ]
              },
              "line": {
                "type": "string"
              },
              "detail": {
                "type": "string"
              },
              "asOf": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "type": "string"
                  }
                ],
                "description": "The oldest read of the witnessed areas, only when every one is dated."
              },
              "counted": {
                "type": "integer"
              },
              "witnessed": {
                "type": "integer"
              },
              "staleAreas": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "undatedAreas": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "restrictedAreas": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "controls": {
            "type": "array",
            "maxItems": 0
          },
          "freshness30d": {
            "type": "integer"
          },
          "disclaimer": {
            "type": "string"
          },
          "retired": {
            "type": "object"
          }
        }
      },
      "Comparison": {
        "type": "object",
        "required": [
          "vendors"
        ],
        "properties": {
          "vendors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicMesh"
            }
          },
          "unavailable": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "frameworkRows": {
            "type": "array",
            "maxItems": 0,
            "description": "Retired 2026-09-26; always empty."
          },
          "retired": {
            "type": "object"
          },
          "states": {
            "type": "array",
            "description": "The cell states, in the words the comparison page prints. A cell with a plain answer has the state answered, which needs no legend entry.",
            "items": {
              "type": "object",
              "required": [
                "id",
                "label",
                "meaning"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "meaning": {
                  "type": "string"
                }
              }
            }
          },
          "comparison": {
            "type": "object",
            "required": [
              "comparedAt",
              "companies",
              "rows"
            ],
            "properties": {
              "comparedAt": {
                "type": "string"
              },
              "snapshot": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "savedAt": {
                    "type": "string"
                  }
                }
              },
              "companies": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "key",
                    "state"
                  ],
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "listed",
                        "not-listed",
                        "unread"
                      ]
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "slug": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "recordVersion": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "recordAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              },
              "rows": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "key",
                    "category",
                    "label",
                    "cells"
                  ],
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "state": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "not-like-for-like when a stated edition, period or scope differs; otherwise null."
                    },
                    "note": {
                      "type": "string"
                    },
                    "cells": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "state",
                          "label",
                          "flags"
                        ],
                        "properties": {
                          "state": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "value": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "flags": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "conflicting",
                                "outdated"
                              ]
                            }
                          },
                          "origin": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "scope": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "dating": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "reason": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Suggestions": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "name",
                "domain",
                "slug",
                "witnessed"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "domain": {
                  "type": "string"
                },
                "slug": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "witnessed": {
                  "type": "boolean"
                },
                "tagline": {
                  "type": "string"
                },
                "logoUrl": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "LegalDocument": {
        "type": "object",
        "required": [
          "slug",
          "title",
          "effective",
          "html"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "effective": {
            "type": "string"
          },
          "html": {
            "type": "string"
          }
        }
      },
      "Version": {
        "type": "object",
        "required": [
          "stamp"
        ],
        "properties": {
          "stamp": {
            "type": "string"
          }
        }
      }
    }
  },
  "x-counts": {
    "paths": 9,
    "operations": 9
  },
  "paths": {
    "/api/mobile/directory/search": {
      "get": {
        "summary": "Search the Trooth Network",
[...]
