{
  "openapi": "3.1.0",
  "info": {
    "title": "Trooth Public API",
    "version": "1.1.0",
    "summary": "The read-only public surface of the Trooth Network.",
    "description": "Everything here answers a question about a software or AI company from published\nevidence, and needs no credential. It is the surface a person, an integrator or an\nauthorized agent may build on.\n\nWHAT IS DELIBERATELY ABSENT. Authentication flows are not documented: they are\nbrowser redirects in a login sequence, not an API. Unauthenticated endpoints that\nsend mail or start work are rate limited and undocumented on purpose. Every\nsession-authenticated endpoint is absent because publishing an internal route map\nhelps an attacker and promises an API that is not offered.\n\nEVIDENCE VOCABULARY. Responses distinguish witnessed, public record (wire value\n`verified`), declared, inferred, unknown, not applicable, restricted, unavailable,\nstale and conflicting. Unknown is an answer, never a blank\nfilled in, and stale is never the same as wrong. No response carries a figure, a\nrank or a grade for a company: the witness facts are coverage (checks that read as\nexpected, out of checks run), freshness (last read), continuity (unbroken since) and change.\n\nA 404 from these endpoints usually means the Network holds no record, which is an\nanswer rather than a failure.\n\nTHE OTHER HOST. These are the routes trooth.co serves. api.trooth.co is a separate\nservice with its own contract, https://trooth.co/openapi.yaml, and that document is\nthe canonical schema for GET https://api.trooth.co/public/trust/{slug}\n(PublicTrustProfile). The service applies no rate limit to that read. Its MCP server\nat https://api.trooth.co/public/mcp allows 120 tools/call requests a minute per IP\naddress, counted per server instance, and answers 429 with Retry-After: 60 over it.\n\nGenerated from app/api by scripts/gen-openapi.mjs. check:openapi fails the build\nwhen this document and the source disagree.",
    "contact": {
      "name": "Trooth developer support",
      "email": "developers@trooth.co",
      "url": "https://trooth.co/developers"
    },
    "license": {
      "name": "Terms of Service",
      "url": "https://trooth.co/terms"
    }
  },
  "servers": [
    {
      "url": "https://trooth.co",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {
      "NetworkProfileV2": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://trooth.co/schemas/network-profile.v2.schema.json",
        "title": "Trooth Network profile response, contract version 2",
        "description": "The body GET https://trooth.co/api/network/profile?q=<domain or slug> returns, as JSON Schema. This is the canonical shape: the route is tested against it on every push (tests/public-contract-schema.test.mjs) and the live route is checked against it after every deployment (scripts/verify-public-contract.mjs). The MCP tool trooth_public_trust_profile on api.trooth.co reads this body and writes its answer from it. Additions do not move the contract version and are not refused here; a removal, a rename or a change of meaning moves it, and a new file is published beside this one. What this schema deliberately refuses: any field named score, rating, rank, grade or confidence, because the contract carries none and a reader must not be able to find one.",
        "oneOf": [
          {
            "$ref": "#/$defs/notFound"
          },
          {
            "$ref": "#/$defs/found"
          }
        ],
        "$defs": {
          "nullableString": {
            "type": [
              "string",
              "null"
            ]
          },
          "notFound": {
            "type": "object",
            "description": "No published profile answers this query, or the query was refused. Not an error about the company; the Network does not hold it.",
            "required": [
              "found"
            ],
            "properties": {
              "found": {
                "const": false
              },
              "error": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "contractVersion": {
                "type": "integer",
                "minimum": 1
              }
            }
          },
          "found": {
            "type": "object",
            "required": [
              "found",
              "contractVersion",
              "contractNote",
              "contractOmissions",
              "deprecation",
              "slug",
              "name",
              "domain",
              "canonicalUrl",
              "tagline",
              "industries",
              "updatedAt",
              "witnessed",
              "methodology",
              "facts",
              "conflicts"
            ],
            "properties": {
              "found": {
                "const": true
              },
              "contractVersion": {
                "type": "integer",
                "minimum": 1
              },
              "contractNote": {
                "type": "string",
                "minLength": 1
              },
              "contractOmissions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1
              },
              "deprecation": {
                "type": "string"
              },
              "contractSchema": {
                "type": "string",
                "pattern": "^https://trooth\\.co/schemas/network-profile\\.v[0-9]+\\.schema\\.json$"
              },
              "slug": {
                "type": "string",
                "pattern": "^[a-z0-9][a-z0-9-]*$"
              },
              "name": {
                "type": "string",
                "minLength": 1
              },
              "domain": {
                "$ref": "#/$defs/nullableString"
              },
              "canonicalUrl": {
                "type": "string",
                "pattern": "^https://trooth\\.co/network/company/[a-z0-9-]+$"
              },
              "tagline": {
                "$ref": "#/$defs/nullableString"
              },
              "industries": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "updatedAt": {
                "$ref": "#/$defs/nullableString"
              },
              "witnessed": {
                "$ref": "#/$defs/witnessBlock"
              },
              "methodology": {
                "$ref": "#/$defs/methodology"
              },
              "facts": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/fact"
                }
              },
              "conflicts": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/conflict"
                }
              }
            },
            "not": {
              "anyOf": [
                {
                  "required": [
                    "score"
                  ]
                },
                {
                  "required": [
                    "rating"
                  ]
                },
                {
                  "required": [
                    "rank"
                  ]
                },
                {
                  "required": [
                    "grade"
                  ]
                },
                {
                  "required": [
                    "confidence"
                  ]
                }
              ]
            }
          },
          "witnessBlock": {
            "description": "What Trooth itself has observed about the company's public surface. `standing` is either the word `witnessed` or null; there is no third value and no degree. Null throughout means no observation was returned, which is not a finding about the company.",
            "oneOf": [
              {
                "type": "object",
                "required": [
                  "standing",
                  "lastWitnessed",
                  "firstWitnessedAt",
                  "coverage",
                  "continuity"
                ],
                "properties": {
                  "standing": {
                    "const": "witnessed"
                  },
                  "lastWitnessed": {
                    "$ref": "#/$defs/nullableString"
                  },
                  "firstWitnessedAt": {
                    "$ref": "#/$defs/nullableString"
                  },
                  "coverage": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "object",
                        "required": [
                          "checksPassed",
                          "checksRun"
                        ],
                        "properties": {
                          "checksPassed": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "checksRun": {
                            "type": "integer",
                            "minimum": 1
                          }
                        }
                      }
                    ]
                  },
                  "continuity": {
                    "type": "object",
                    "required": [
                      "recordBegan",
                      "unbrokenSince",
                      "unbrokenReadings",
                      "totalReadings"
                    ],
                    "properties": {
                      "recordBegan": {
                        "$ref": "#/$defs/nullableString"
                      },
                      "unbrokenSince": {
                        "$ref": "#/$defs/nullableString"
                      },
                      "unbrokenReadings": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "totalReadings": {
                        "type": "integer",
                        "minimum": 0
                      }
                    }
                  }
                }
              },
              {
                "type": "object",
                "required": [
                  "standing",
                  "lastWitnessed",
                  "firstWitnessedAt",
                  "coverage",
                  "continuity"
                ],
                "properties": {
                  "standing": {
                    "type": "null"
                  },
                  "lastWitnessed": {
                    "type": "null"
                  },
                  "firstWitnessedAt": {
                    "type": "null"
                  },
                  "coverage": {
                    "type": "null"
                  },
                  "continuity": {
                    "type": "null"
                  }
                }
              }
            ]
          },
          "methodology": {
            "type": "object",
            "description": "How the witnessed block was produced and what it does not cover. Included in every response so a reader restating witnessed elsewhere can carry the limits with it.",
            "required": [
              "cadence",
              "gapTolerance",
              "retention",
              "freshness",
              "exclusions",
              "summary"
            ],
            "properties": {
              "cadence": {
                "type": "string"
              },
              "gapTolerance": {
                "type": "string"
              },
              "retention": {
                "type": "string"
              },
              "freshness": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "category",
                    "label",
                    "window"
                  ],
                  "properties": {
                    "category": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "window": {
                      "type": "string"
                    }
                  }
                }
              },
              "exclusions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1
              },
              "summary": {
                "type": "string"
              }
            }
          },
          "origin": {
            "description": "Who said it. company-declared is the company's own statement; witnessed is Trooth's observation; public-source is a named third party. The order accounts are listed in is fixed and is not a ranking.",
            "enum": [
              "company-declared",
              "witnessed",
              "public-source"
            ]
          },
          "fact": {
            "type": "object",
            "required": [
              "key",
              "category",
              "label",
              "value",
              "origin"
            ],
            "properties": {
              "key": {
                "type": "string",
                "pattern": "^[a-z0-9-]+\\.[a-z0-9-]+$"
              },
              "category": {
                "type": "string"
              },
              "label": {
                "type": "string"
              },
              "value": {
                "type": "string"
              },
              "origin": {
                "$ref": "#/$defs/origin"
              },
              "contested": {
                "type": "boolean",
                "description": "True when another source gave a different account; the accounts are in conflicts under the same key, and value is one of them, not the winner."
              }
            }
          },
          "conflict": {
            "type": "object",
            "required": [
              "key",
              "category",
              "label",
              "accounts"
            ],
            "properties": {
              "key": {
                "type": "string"
              },
              "category": {
                "type": "string"
              },
              "label": {
                "type": "string"
              },
              "accounts": {
                "type": "array",
                "minItems": 2,
                "items": {
                  "type": "object",
                  "required": [
                    "origin",
                    "value"
                  ],
                  "properties": {
                    "origin": {
                      "$ref": "#/$defs/origin"
                    },
                    "value": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-counts": {
    "paths": 9,
    "operations": 9
  },
  "paths": {
    "/api/mobile/directory/search": {
      "get": {
        "summary": "Search the Trooth Network",
        "description": "Full-text search over published company listings. Returns the same companies the public directory shows. Prefer cursor pagination: pass the returned next_cursor back as cursor. Offset pagination still works and is kept for clients that already ship with it, but it is deprecated: it counts rows rather than naming a position, so a directory that grows between two requests can serve the same company twice and skip another without erroring. A response to an offset-paged request carries a Deprecation header and a Link header with rel=\"deprecation\"; no withdrawal date is set, so no Sunset header is sent. A cursor that cannot be read returns 400 rather than an empty page. Cached at the edge for 60 seconds with a 300 second stale-while-revalidate window.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search terms. Matched against company name and description.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "industry",
            "in": "query",
            "required": false,
            "description": "Restrict to one industry.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page. Clamped to 100; anything unreadable falls back to 25.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque page marker. Use next_cursor from the previous response. Preferred over offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Zero-based offset. Use next_offset from the previous response. Deprecated in favor of cursor; still answered, with a Deprecation header on the response.",
            "schema": {
              "type": "integer"
            },
            "deprecated": true
          }
        ],
        "operationId": "get_api_mobile_directory_search",
        "security": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "No such record. Not an error; the Network does not hold it."
          }
        }
      }
    },
    "/api/mobile/directory/featured": {
      "get": {
        "summary": "Companies with a witnessed record",
        "description": "The Trooth Network's front page: published companies, those with a witnessed record first. Cached at the edge for 120 seconds.",
        "operationId": "get_api_mobile_directory_featured",
        "security": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "No such record. Not an error; the Network does not hold it."
          }
        }
      }
    },
    "/api/mobile/directory/vendor/{slug}": {
      "get": {
        "summary": "One company record",
        "description": "A published company profile, and its live witnessed state where Trooth has witnessed the company. A slug of the form d--example.com resolves a witnessed company that has not yet published a rich profile. Cached at the edge for 120 seconds.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Company slug, or d--<domain>.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_api_mobile_directory_vendor_slug_",
        "security": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "No such record. Not an error; the Network does not hold it."
          }
        }
      }
    },
    "/api/public-mesh/{handle}": {
      "get": {
        "summary": "A company's public evidence rollup",
        "description": "The buyer-facing projection of a company's evidence: the witnessed state per pillar, framework rollups and provider status. Individual control rows, owners and internal notes are never returned here. Responds 404 when the company has no public record, which is a privacy-preserving answer rather than an error. Readable cross-origin (Access-Control-Allow-Origin: *); this is the read the embeddable badge performs. Cached at the edge for 300 seconds.",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "Company handle.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_api_public_mesh_handle_",
        "security": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "No such record. Not an error; the Network does not hold it."
          }
        }
      }
    },
    "/api/network/profile": {
      "get": {
        "summary": "One company's canonical profile and witness facts",
        "description": "The canonical published profile for a company, keyed by domain or slug, with the witness facts a buyer's tool needs: the `standing` field (the witnessed state), lastWitnessed (freshness), firstWitnessedAt and the unbroken run of Trooth's own hourly readings (continuity), and checksPassed out of checksRun on the signed result (coverage: checks that read as expected, out of checks run). Continuity is never claimed older than Trooth's own record and stays null until two consecutive readings agree. Responds { found: false } with 200 when no profile is published, 400 when q is missing. Cached at the edge for 120 seconds. Every response carries a `methodology` object stating the reading cadence, the gap tolerance that defines an unbroken series, the retention period, the per-category freshness windows, and an explicit list of coverage limits - what Trooth does not read. A caller restating `witnessed` or `updatedAt` elsewhere must carry those limits with it: neither field is a certification nor an audit opinion.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Company domain (example.com) or Trooth slug.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "required": false,
            "description": "Pin the response contract version. Omit for whatever this deployment serves. A version this deployment does not answer is refused with 400 rather than approximated, because a caller that pins is pinning precisely to avoid guessing. Every response carries contractVersion, a note saying when that integer moves, and an explicit list of what the contract does NOT carry.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_api_network_profile",
        "security": [],
        "responses": {
          "200": {
            "description": "The record, or { found: false } when the Network holds none. The body is written to a published JSON Schema and validated against it on every push and after every deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkProfileV2"
                }
              }
            }
          },
          "400": {
            "description": "The q parameter is missing, or a contract version this deployment does not answer was requested."
          },
          "404": {
            "description": "No such record. Not an error; the Network does not hold it."
          }
        }
      }
    },
    "/api/compare": {
      "get": {
        "summary": "Compare companies side by side",
        "description": "A comparison of published witnessed facts across up to a handful of companies. Control rows are stripped, so a company's internal posture is never exposed through the comparison. Rate limited.",
        "parameters": [
          {
            "name": "handles",
            "in": "query",
            "required": true,
            "description": "Comma-separated company handles.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_api_compare",
        "security": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "No such record. Not an error; the Network does not hold it."
          },
          "429": {
            "description": "Rate limited. Retry after a short pause."
          }
        }
      }
    },
    "/api/network/suggest": {
      "get": {
        "summary": "Typeahead over published companies",
        "description": "Name-to-company suggestions for a search box, over the same published listings the directory shows. Cached at the edge for 60 seconds.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Partial company name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_api_network_suggest",
        "security": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "No such record. Not an error; the Network does not hold it."
          }
        }
      }
    },
    "/api/legal/{slug}": {
      "get": {
        "summary": "A published legal document",
        "description": "The full text of one of the twenty published Trooth legal documents, with its title, effective date and body. The slug must be one of the published set; anything else responds 404. Cached at the edge for one hour with a one day stale-while-revalidate window.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Document slug, for example privacy, terms, subprocessors.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_api_legal_slug_",
        "security": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "No such record. Not an error; the Network does not hold it."
          }
        }
      }
    },
    "/api/version": {
      "get": {
        "summary": "The deployment currently serving",
        "description": "The build stamp of the running deployment. Never cached. Useful for confirming which release answered a request.",
        "operationId": "get_api_version",
        "security": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "No such record. Not an error; the Network does not hold it."
          }
        }
      }
    }
  }
}
