{
  "openapi": "3.1.0",
  "info": {
    "title": "Trooth Public API",
    "version": "1.1.0",
    "summary": "The read-only public surface of the Trooth Network.",
    "description": "Everything here answers a question about a software or AI company from published\nevidence, and needs no credential. It is the surface a person, an integrator or an\nauthorized agent may build on.\n\nWHAT IS DELIBERATELY ABSENT. Authentication flows are not documented: they are\nbrowser redirects in a login sequence, not an API. Unauthenticated endpoints that\nsend mail or start work are rate limited and undocumented on purpose. Every\nsession-authenticated endpoint is absent because publishing an internal route map\nhelps an attacker and promises an API that is not offered.\n\nEVIDENCE VOCABULARY. Responses distinguish witnessed, public record (wire value\n`verified`), declared, inferred, unknown, not applicable, restricted, unavailable,\nstale and conflicting. Unknown is an answer, never a blank\nfilled in, and stale is never the same as wrong. No response carries a figure, a\nrank or a grade for a company: the witness facts are coverage (checks that read as\nexpected, out of checks run), freshness (last read), continuity (unbroken since) and change.\n\nA 404 from these endpoints usually means the Network holds no record, which is an\nanswer rather than a failure.\n\nTHE OTHER HOST. These are the routes trooth.co serves. api.trooth.co is a separate\nservice with its own contract, https://trooth.co/openapi.yaml, and that document is\nthe canonical schema for GET https://api.trooth.co/public/trust/{slug}\n(PublicTrustProfile). The service applies no rate limit to that read. Its MCP server\nat https://api.trooth.co/public/mcp allows 120 tools/call requests a minute per IP\naddress, counted per server instance, and answers 429 with Retry-After: 60 over it.\n\nGenerated from app/api by scripts/gen-openapi.mjs. check:openapi fails the build\nwhen this document and the source disagree.",
    "contact": {
      "name": "Trooth developer support",
      "email": "developers@trooth.co",
      "url": "https://trooth.co/developers"
    },
    "license": {
      "name": "Terms of Service",
      "url": "https://trooth.co/terms"
    }
  },
  "servers": [
    {
      "url": "https://trooth.co",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {
      "NetworkProfileV2": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://trooth.co/schemas/network-profile.v2.schema.json",
        "title": "Trooth Network profile response, contract version 2",
        "description": "The body GET https://trooth.co/api/network/profile?q=<domain or slug> returns, as JSON Schema. This is the canonical shape: the route is tested against it on every push (tests/public-contract-schema.test.mjs) and the live route is checked against it after every deployment (scripts/verify-public-contract.mjs). The MCP tool trooth_public_trust_profile on api.trooth.co reads this body and writes its answer from it. Additions do not move the contract version and are not refused here; a removal, a rename or a change of meaning moves it, and a new file is published beside this one. What this schema deliberately refuses: any field named rating, rank, grade or confidence, because the contract carries none and a reader must not be able to find one.",
        "oneOf": [
          {
            "$ref": "#/$defs/notFound"
          },
          {
            "$ref": "#/$defs/found"
          }
        ],
        "$defs": {
          "nullableString": {
            "type": [
              "string",
              "null"
            ]
          },
          "notFound": {
            "type": "object",
            "description": "No published profile answers this query, or the query was refused. Not an error about the company; the Network does not hold it.",
            "required": [
              "found"
            ],
            "properties": {
              "found": {
                "const": false
              },
              "error": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "contractVersion": {
                "type": "integer",
                "minimum": 1
              },
              "ambiguous": {
                "type": "boolean",
                "description": "True when q is a company name that several published companies carry (REQ-4-1629). No record was chosen; candidates lists what the name could mean. Additive in contract 2 (2026-09-29)."
              },
              "candidates": {
                "type": "array",
                "description": "Present with ambiguous. Each published company the name could mean, ordered by slug (an order that suggests none), with the exact query that selects it.",
                "items": {
                  "type": "object",
                  "required": [
                    "slug",
                    "name",
                    "domain",
                    "profileUrl",
                    "select"
                  ],
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "domain": {
                      "oneOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "profileUrl": {
                      "type": "string"
                    },
                    "select": {
                      "type": "string",
                      "description": "Send this as q to read this company's record and no other."
                    }
                  }
                }
              },
              "candidatesTotal": {
                "type": "integer",
                "minimum": 2
              },
              "candidatesTruncated": {
                "type": "boolean"
              }
            }
          },
          "found": {
            "type": "object",
            "required": [
              "found",
              "contractVersion",
              "contractNote",
              "contractOmissions",
              "deprecation",
              "slug",
              "name",
              "domain",
              "canonicalUrl",
              "tagline",
              "industries",
              "updatedAt",
              "witnessed",
              "methodology",
              "facts",
              "conflicts"
            ],
            "properties": {
              "found": {
                "const": true
              },
              "contractVersion": {
                "type": "integer",
                "minimum": 1
              },
              "contractNote": {
                "type": "string",
                "minLength": 1
              },
              "contractOmissions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1
              },
              "deprecation": {
                "type": "string"
              },
              "contractSchema": {
                "type": "string",
                "pattern": "^https://trooth\\.co/schemas/network-profile\\.v[0-9]+\\.schema\\.json$"
              },
              "sectionCapabilities": {
                "type": "string",
                "const": "https://trooth.co/section-capabilities.json",
                "description": "The section map: for each section of a company record, whether this full record, the bounded MCP summary, the profile Markdown and the directory entry carry it (supported), leave it out on purpose (omitted), cannot carry it yet (unavailable) or never carry it because it is private (unpublished). Static and free of company data. Absence in a projection is never a negative fact."
              },
              "slug": {
                "type": "string",
                "pattern": "^[a-z0-9][a-z0-9-]*$"
              },
              "name": {
                "type": "string",
                "minLength": 1
              },
              "domain": {
                "$ref": "#/$defs/nullableString"
              },
              "canonicalUrl": {
                "type": "string",
                "pattern": "^https://trooth\\.co/network/company/[a-z0-9-]+$"
              },
              "tagline": {
                "$ref": "#/$defs/nullableString"
              },
              "industries": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "updatedAt": {
                "$ref": "#/$defs/nullableString"
              },
              "witnessed": {
                "$ref": "#/$defs/witnessBlock"
              },
              "witnessStatement": {
                "$ref": "#/$defs/witnessStatement"
              },
              "witnessEvidenceManifest": {
                "$ref": "#/$defs/witnessEvidenceManifest"
              },
              "methodology": {
                "$ref": "#/$defs/methodology"
              },
              "facts": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/fact"
                }
              },
              "conflicts": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/conflict"
                }
              },
              "signing": {
                "$ref": "#/$defs/signing"
              },
              "requestedContract": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "type": "integer"
                  }
                ],
                "description": "The contract the caller asked for with ?contract= or the Trooth-Contract header, or null when it asked for none. contractVersion is the contract that served the response. Additive in contract 2 (2026-09-26)."
              },
              "evidenceClasses": {
                "type": "object",
                "description": "What each evidenceClass value means. Additive in contract 2 (2026-09-26)."
              },
              "authority": {
                "type": "object",
                "description": "Domain control, registry match, representative authority and publication permission, each stated separately. Additive in contract 2 (2026-09-26).",
                "required": [
                  "domainControl",
                  "registryMatch",
                  "representativeAuthority",
                  "publicationPermission"
                ]
              },
              "relationships": {
                "type": "object",
                "description": "What a listed relationship does and does not establish. Additive in contract 2 (2026-09-26)."
              },
              "selection": {
                "type": "object",
                "description": "Which part of the record this response carries (REQ-4-1630). sections is the list asked for with ?sections=, or \"all\". recordVersion is the profile update time the page belongs to. total is how many facts the selected sections hold, returned how many this page carries, and truncated says whether any were left out; when it is true, next is a cursor to send as ?after= for the rest, refused as stale if the company publishes a new version in between. conflicts carries only the disagreements about facts on this page, and a contested fact stays marked.",
                "required": [
                  "sections",
                  "recordVersion",
                  "limit",
                  "returned",
                  "total",
                  "truncated",
                  "next"
                ],
                "properties": {
                  "sections": {
                    "oneOf": [
                      {
                        "const": "all"
                      },
                      {
                        "type": "array",
                        "items": {
                          "enum": [
                            "identity",
                            "registration",
                            "hosting",
                            "pricing",
                            "pricing-add-ons",
                            "security",
                            "privacy",
                            "privacy-roles",
                            "recovery",
                            "ai-practices"
                          ]
                        }
                      }
                    ]
                  },
                  "recordVersion": {
                    "type": "string"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Facts per page as served, at most 200."
                  },
                  "returned": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "total": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "truncated": {
                    "type": "boolean"
                  },
                  "next": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "note": {
                    "type": "string"
                  }
                }
              },
              "factFreshnessStatuses": {
                "type": "object",
                "description": "One sentence of meaning for each value of facts[].record.freshness.status.",
                "required": [
                  "current",
                  "due",
                  "stale",
                  "not_collected",
                  "unknown",
                  "unavailable",
                  "disputed"
                ],
                "properties": {
                  "current": {
                    "type": "string"
                  },
                  "due": {
                    "type": "string"
                  },
                  "stale": {
                    "type": "string"
                  },
                  "not_collected": {
                    "type": "string"
                  },
                  "unknown": {
                    "type": "string"
                  },
                  "unavailable": {
                    "type": "string"
                  },
                  "disputed": {
                    "type": "string"
                  }
                }
              },
              "profile": {
                "$ref": "#/$defs/companyRecord"
              }
            },
            "not": {
              "anyOf": [
                {
                  "required": [
                    "rating"
                  ]
                },
                {
                  "required": [
                    "rank"
                  ]
                },
                {
                  "required": [
                    "grade"
                  ]
                },
                {
                  "required": [
                    "confidence"
                  ]
                }
              ]
            }
          },
          "witnessBlock": {
            "description": "What Trooth itself has observed about the company's public surface. `standing` is either the word `witnessed` or null; there is no third value and no degree. Null throughout means no observation was returned, which is not a finding about the company.",
            "oneOf": [
              {
                "type": "object",
                "required": [
                  "standing",
                  "lastWitnessed",
                  "firstWitnessedAt",
                  "coverage",
                  "continuity"
                ],
                "properties": {
                  "standing": {
                    "const": "witnessed"
                  },
                  "lastWitnessed": {
                    "$ref": "#/$defs/nullableString"
                  },
                  "firstWitnessedAt": {
                    "$ref": "#/$defs/nullableString"
                  },
                  "coverage": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "object",
                        "required": [
                          "checksPassed",
                          "checksRun"
                        ],
                        "properties": {
                          "checksPassed": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "checksRun": {
                            "type": "integer",
                            "minimum": 1
                          },
                          "source": {
                            "enum": [
                              "witness_statement",
                              "result_tally"
                            ],
                            "description": "What checksRun and checksPassed count. witness_statement: computed from the signed witness statement's entries; checksRun is checks read in this reading. result_tally: the reading's own tally for a reading with no statement; not a count of checks read. Additive in contract 2 (2026-09-26); absent on responses served before it."
                          },
                          "definition": {
                            "type": "string",
                            "description": "The same meaning, as a sentence."
                          },
                          "checksNotRead": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Entries in the reading that were not read in it. Present when source is witness_statement."
                          },
                          "checksNotAsExpected": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Entries read whose outcome was not as expected: checksRun minus checksPassed, so checksRun = checksPassed + checksNotAsExpected. Present when source is witness_statement. Additive (2026-09-28)."
                          },
                          "checksInReading": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "checksRun plus checksNotRead. Present when source is witness_statement."
                          }
                        }
                      }
                    ]
                  },
                  "continuity": {
                    "type": "object",
                    "required": [
                      "recordBegan",
                      "unbrokenSince",
                      "unbrokenReadings",
                      "totalReadings"
                    ],
                    "properties": {
                      "recordBegan": {
                        "$ref": "#/$defs/nullableString"
                      },
                      "unbrokenSince": {
                        "$ref": "#/$defs/nullableString"
                      },
                      "unbrokenReadings": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "totalReadings": {
                        "type": "integer",
                        "minimum": 0
                      }
                    }
                  }
                }
              },
              {
                "type": "object",
                "required": [
                  "standing",
                  "lastWitnessed",
                  "firstWitnessedAt",
                  "coverage",
                  "continuity"
                ],
                "properties": {
                  "standing": {
                    "type": "null"
                  },
                  "lastWitnessed": {
                    "type": "null"
                  },
                  "firstWitnessedAt": {
                    "type": "null"
                  },
                  "coverage": {
                    "type": "null"
                  },
                  "continuity": {
                    "type": "null"
                  }
                }
              }
            ]
          },
          "witnessStatement": {
            "type": "object",
            "description": "Trooth's signed statement of the reading behind `witnessed`, carried exactly as the upstream witness worker signed it. Present only when that reading was signed under the witness statement; absent (the key is not in the body) for an older reading, which is not a failed check. `payload` is the signing input itself: check the Ed25519 signature over its UTF-8 bytes with the key `key_id` names at https://api.trooth.co/public/keys, decoding that key by its `encoding`, then parse `payload` to read it. Two versions exist, named by the payload's own `statement` field. trooth.witness-statement.v2 (readings signed from 2026-10-04) carries `statement`, `reading_id`, `domain`, `read_at`, `subject_scope` (`domain`, `surface`, `checks_in_scope`), `methodology` (`standard`, `mapping_version`, `mapping_url`, `mapping_digest`: sha256 over the exact bytes of the immutable mapping file at https://trooth.co/standard/check-mapping/<version>.json), `evaluator` (`name`, `version`), `evidence_manifest` (`digest`, `entries`, `canonicalization`), `checks` (each with `id`, `category`, `kind`, an `outcome` of `as expected`, `not as expected` or `not read`, and for every outcome other than `as expected` a `reason` with a versioned `code`, a `source_ref` or an explicit `withheld` and `withheld_reason`) and `counts` (`read`, `as_expected`, `not_as_expected`, `not_read`, `in_reading`, with read + not_read = in_reading and as_expected + not_as_expected = read). A timeout or an unavailable source is `not read`, never `not as expected`. trooth.witness-statement.v1 (earlier readings) carries `statement`, `reading_id`, `domain`, `read_at`, `checks` (`id`, `category`, `kind`, `outcome`) and `counts` (`read`, `as_expected`). Its assurance is narrower: it shows the key signed those outcome bytes and does not bind the check mapping, the evaluator version, the subject scope or the evidence sources. No digest is ever added to a v1 statement. Neither version carries a verdict, a threshold or a composite figure. This is the only signed part of the body. Trooth signs what it witnessed. It never signs on a company's behalf.",
            "required": [
              "payload",
              "signature",
              "key_id",
              "alg",
              "canonicalization"
            ],
            "properties": {
              "payload": {
                "type": "string",
                "minLength": 2,
                "description": "The exact string that was signed. Do not re-serialize it before checking."
              },
              "signature": {
                "type": "string",
                "pattern": "^ed25519:[A-Za-z0-9+/]+={0,2}$",
                "description": "The prefix `ed25519:` followed by the standard base64 of the 64 signature bytes."
              },
              "key_id": {
                "type": "string",
                "minLength": 1,
                "description": "The `kid` of the signing key at https://api.trooth.co/public/keys."
              },
              "alg": {
                "const": "Ed25519"
              },
              "canonicalization": {
                "type": "string",
                "minLength": 1,
                "description": "How the worker serialized the payload before signing: JSON with keys in a fixed order and no whitespace, as UTF-8. `payload` is already in that form."
              }
            }
          },
          "witnessEvidenceManifest": {
            "type": "array",
            "description": "The evidence manifest a trooth.witness-statement.v2 statement binds through `evidence_manifest.digest`: one entry per check, each a public `source` reference or a `commitment` (sha256 over a secret salt, one 0x0a byte and a private reference) where publishing the reference would expose a company's declaration or a sensitive path. Recompute the digest as sha256 over the UTF-8 bytes of the entries sorted by `check_id` and serialized as JSON with keys `check_id` then `source` or `commitment` and no whitespace, and compare it to the signed digest. Additive (2026-10-04); present only beside a v2 statement, never beside v1, and not itself signed.",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "required": [
                    "check_id",
                    "source"
                  ],
                  "properties": {
                    "check_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "source": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "check_id",
                    "commitment"
                  ],
                  "properties": {
                    "check_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "commitment": {
                      "type": "string",
                      "pattern": "^sha256:[0-9a-f]{64}$"
                    }
                  }
                }
              ]
            }
          },
          "methodology": {
            "type": "object",
            "description": "How the witnessed block was produced and what it does not cover. Included in every response so a reader restating witnessed elsewhere can carry the limits with it.",
            "required": [
              "cadence",
              "gapTolerance",
              "retention",
              "freshness",
              "exclusions",
              "summary"
            ],
            "properties": {
              "cadence": {
                "type": "string"
              },
              "gapTolerance": {
                "type": "string"
              },
              "retention": {
                "type": "string"
              },
              "freshness": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "category",
                    "label",
                    "window"
                  ],
                  "properties": {
                    "category": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "window": {
                      "type": "string"
                    }
                  }
                }
              },
              "exclusions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1
              },
              "summary": {
                "type": "string"
              }
            }
          },
          "origin": {
            "description": "Who said it. company-declared is the company's own statement; witnessed is Trooth's observation; public-source is a named third party. The order accounts are listed in is fixed and is not a ranking.",
            "enum": [
              "company-declared",
              "witnessed",
              "public-source"
            ]
          },
          "fact": {
            "type": "object",
            "required": [
              "key",
              "category",
              "label",
              "value",
              "origin"
            ],
            "properties": {
              "key": {
                "type": "string",
                "pattern": "^[a-z0-9-]+\\.[a-z0-9-]+$"
              },
              "category": {
                "type": "string"
              },
              "label": {
                "type": "string"
              },
              "value": {
                "type": "string"
              },
              "origin": {
                "$ref": "#/$defs/origin"
              },
              "contested": {
                "type": "boolean",
                "description": "True when another source gave a different account; the accounts are in conflicts under the same key, and value is one of them, not the winner."
              },
              "claim": {
                "type": "object",
                "description": "Typed provenance for this claim, additive in contract 2 (2026-09-26). Fields Trooth does not hold are null and named in unknown; a claim never inherits the reading's time or signature.",
                "required": [
                  "claimId",
                  "subject",
                  "evidenceClass",
                  "signed",
                  "issuerAuthenticated",
                  "unknown"
                ],
                "properties": {
                  "claimId": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "object",
                    "required": [
                      "domain",
                      "scope"
                    ],
                    "properties": {
                      "domain": {
                        "type": "string"
                      },
                      "scope": {
                        "const": "company"
                      }
                    }
                  },
                  "evidenceClass": {
                    "enum": [
                      "company_declaration",
                      "trooth_observation",
                      "public_record"
                    ]
                  },
                  "declaredAt": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "For a company declaration, the time an authorized publish on Trooth first carried the current value, or of a later publish at which an owner or admin declared every published fact again. Null for a fact published before Trooth began recording it, unchanged since and not declared again; never a profile version date or a reading time."
                  },
                  "observedAt": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "validUntil": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "evidenceRef": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "The reference a declared fact cites, as the company gave it, or null. Trooth has not opened it."
                  },
                  "signed": {
                    "const": false
                  },
                  "issuerAuthenticated": {
                    "type": "boolean",
                    "description": "True only when the publish that carried this value was accepted from a signed-in Trooth session whose workspace role was owner or admin, or from the workspace AI agent acting in such a session while its publishing permission was on. False for every other declaration, every observation and every public record. It is about the publishing session: it does not mean Trooth checked the statement, that a document issuer was authenticated, or that the person holds legal authority for the company. Before 2026-10-04 this field was always false."
                  },
                  "unknown": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "declaredBy": {
                    "description": "Additive (2026-10-04). Present only when declaredAt is set: the actor class and workspace role of the session that published the value. Absent otherwise. Carries no personal data.",
                    "type": "object",
                    "required": [
                      "actorClass",
                      "role"
                    ],
                    "properties": {
                      "actorClass": {
                        "enum": [
                          "person",
                          "agent"
                        ]
                      },
                      "role": {
                        "enum": [
                          "owner",
                          "admin",
                          "editor",
                          "unknown"
                        ]
                      }
                    }
                  }
                }
              },
              "record": {
                "type": "object",
                "description": "Per-fact identity, issuer, method version and freshness, additive in contract 2 (2026-09-29, REQ-4-1640 and REQ-4-1588). freshness.status tells seven answers apart instead of one null: current, due and stale are a dated observation against its category window; not_collected is a company statement Trooth does not re-read; unknown is an origin with no recorded observation time or an unreadable date; unavailable is a source not read on this pass; disputed means another account is in conflicts. Fields Trooth does not hold are null and explained in unknown.",
                "required": [
                  "companyId",
                  "canonicalDomain",
                  "recordVersion",
                  "factId",
                  "provenanceKind",
                  "issuer",
                  "sourceReference",
                  "observedAt",
                  "attestedAt",
                  "collectedAt",
                  "evidenceReference",
                  "methodVersion",
                  "freshness",
                  "unknown"
                ],
                "properties": {
                  "companyId": {
                    "type": "string"
                  },
                  "canonicalDomain": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "recordVersion": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "factId": {
                    "type": "string"
                  },
                  "provenanceKind": {
                    "enum": [
                      "company_declaration",
                      "trooth_observation",
                      "public_record"
                    ]
                  },
                  "issuer": {
                    "type": "object",
                    "required": [
                      "kind",
                      "name"
                    ],
                    "properties": {
                      "kind": {
                        "enum": [
                          "company",
                          "trooth",
                          "public_source"
                        ]
                      },
                      "name": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ]
                      }
                    }
                  },
                  "sourceReference": {
                    "type": "string"
                  },
                  "observedAt": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "attestedAt": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "The same value as claim.declaredAt."
                  },
                  "collectedAt": {
                    "type": "null"
                  },
                  "evidenceReference": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "The same value as claim.evidenceRef."
                  },
                  "methodVersion": {
                    "type": "string"
                  },
                  "freshness": {
                    "type": "object",
                    "required": [
                      "status",
                      "collection",
                      "lastObservedAt",
                      "windowDays",
                      "windowCategory",
                      "nextExpectedRefresh"
                    ],
                    "properties": {
                      "status": {
                        "enum": [
                          "current",
                          "due",
                          "stale",
                          "not_collected",
                          "unknown",
                          "unavailable",
                          "disputed"
                        ]
                      },
                      "collection": {
                        "enum": [
                          "declared_by_company",
                          "read_by_trooth",
                          "public_source"
                        ]
                      },
                      "lastObservedAt": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ]
                      },
                      "windowDays": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "integer",
                            "minimum": 0
                          }
                        ]
                      },
                      "windowCategory": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ]
                      },
                      "nextExpectedRefresh": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ]
                      }
                    }
                  },
                  "unknown": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "conflict": {
            "type": "object",
            "required": [
              "key",
              "category",
              "label",
              "accounts"
            ],
            "properties": {
              "key": {
                "type": "string"
              },
              "category": {
                "type": "string"
              },
              "label": {
                "type": "string"
              },
              "accounts": {
                "type": "array",
                "minItems": 2,
                "items": {
                  "type": "object",
                  "required": [
                    "origin",
                    "value"
                  ],
                  "properties": {
                    "origin": {
                      "$ref": "#/$defs/origin"
                    },
                    "value": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "signing": {
            "type": "object",
            "description": "What in this response is signed. Additive in contract 2 (2026-09-26). profileSigned is always false: the one signed object is witnessStatement, which covers one reading and nothing else.",
            "required": [
              "profileSigned",
              "signedArtifact",
              "subject"
            ],
            "properties": {
              "profileSigned": {
                "const": false
              },
              "signedArtifact": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "const": "witnessStatement"
                  }
                ]
              },
              "artifactType": {
                "type": "string",
                "enum": [
                  "trooth.witness-statement.v1",
                  "trooth.witness-statement.v2"
                ],
                "description": "The signed statement's own type tag. With no statement, trooth.witness-statement.v1."
              },
              "subject": {
                "type": "string"
              },
              "binding": {
                "description": "What the statement binds (additive, 2026-10-04). null when there is no statement. `status` is `present` for v2 and `absent` for v1, whose assurance is narrower: v1 binds no mapping, evaluator version, scope or sources, and its digests here are null rather than filled in. This block is read from the payload; it is not a check of the signature or of the binding.",
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "type": "object",
                    "required": [
                      "status",
                      "assurance"
                    ],
                    "properties": {
                      "status": {
                        "enum": [
                          "present",
                          "absent"
                        ]
                      },
                      "mappingVersion": {
                        "$ref": "#/$defs/nullableString"
                      },
                      "mappingUrl": {
                        "$ref": "#/$defs/nullableString"
                      },
                      "mappingDigest": {
                        "$ref": "#/$defs/nullableString"
                      },
                      "evaluatorVersion": {
                        "$ref": "#/$defs/nullableString"
                      },
                      "evidenceManifestDigest": {
                        "$ref": "#/$defs/nullableString"
                      },
                      "assurance": {
                        "type": "string"
                      },
                      "mappingVersions": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "keyId": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "keyPurpose": {
                "type": "string"
              },
              "observedAt": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "timeSource": {
                "type": "string"
              },
              "verify": {
                "type": "string"
              },
              "keys": {
                "type": "string"
              },
              "keyPolicy": {
                "type": "string"
              }
            }
          },
          "recordField": {
            "type": "object",
            "required": [
              "label",
              "value"
            ],
            "properties": {
              "label": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "recordProvenance": {
            "enum": [
              "company_declared",
              "trooth_observation",
              "public_sources",
              "named_customers",
              "mixed"
            ],
            "description": "Who said it. company_declared: the company's own statement, published as written and not certified. trooth_observation: Trooth's reading of the company's public surface at the time shown. public_sources: named outside sources, each linked. named_customers: endorsements from named customers. mixed: more than one of these, labeled per group."
          },
          "recordItem": {
            "type": "object",
            "required": [
              "title",
              "fields",
              "notes",
              "links"
            ],
            "properties": {
              "title": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordField"
                }
              },
              "notes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "links": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordField"
                }
              },
              "data": {
                "type": "object",
                "description": "The structured object the item was read from, empty values removed and uploads dropped."
              }
            },
            "additionalProperties": false
          },
          "recordGroup": {
            "type": "object",
            "required": [
              "title",
              "provenance",
              "fields",
              "items",
              "notes"
            ],
            "properties": {
              "title": {
                "type": "string"
              },
              "provenance": {
                "$ref": "#/$defs/recordProvenance"
              },
              "fields": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordField"
                }
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordItem"
                }
              },
              "notes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "additionalProperties": false
          },
          "recordSection": {
            "type": "object",
            "required": [
              "id",
              "title",
              "url",
              "state",
              "provenance",
              "meaning",
              "fields",
              "groups",
              "notes"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "state": {
                "enum": [
                  "published",
                  "not_published",
                  "hidden_by_company",
                  "unavailable",
                  "request_only"
                ],
                "description": "published: the company shows content here. not_published: the section is shown but empty; say it is not published, never fill it. hidden_by_company: the company chose not to show it; no values are carried. unavailable: Trooth could not read this part on this load; it is not empty. request_only: the content exists behind a request and is never carried."
              },
              "provenance": {
                "$ref": "#/$defs/recordProvenance"
              },
              "meaning": {
                "type": "string",
                "description": "What an agent should say about this section, in one or two sentences."
              },
              "fields": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordField"
                }
              },
              "groups": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordGroup"
                }
              },
              "notes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "additionalProperties": false
          },
          "companyRecord": {
            "type": "object",
            "description": "The complete machine-readable profile: every section the public page at canonicalUrl can show, in its order, each with a state, a provenance and a meaning. Additive in contract 2 (2026-10-05). Format trooth.company-profile.v1.",
            "required": [
              "format",
              "name",
              "canonicalUrl",
              "markdownUrl",
              "updatedAt",
              "howToRead",
              "completeness",
              "header",
              "sections"
            ],
            "properties": {
              "format": {
                "const": "trooth.company-profile.v1"
              },
              "name": {
                "type": "string"
              },
              "canonicalUrl": {
                "type": "string"
              },
              "markdownUrl": {
                "type": "string"
              },
              "updatedAt": {
                "$ref": "#/$defs/nullableString"
              },
              "howToRead": {
                "type": "string"
              },
              "completeness": {
                "type": "object",
                "required": [
                  "sections",
                  "published",
                  "notPublished",
                  "hiddenByCompany",
                  "unavailable",
                  "requestOnly"
                ],
                "properties": {
                  "sections": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "published": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "notPublished": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "hiddenByCompany": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "unavailable": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "requestOnly": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              },
              "header": {
                "type": "object",
                "required": [
                  "name",
                  "tagline",
                  "website",
                  "logoUrl",
                  "links",
                  "callToAction"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "tagline": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "logoUrl": {
                    "type": "string"
                  },
                  "links": {
                    "type": "array",
                    "items": {
                      "$ref": "#/$defs/recordField"
                    }
                  },
                  "callToAction": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "$ref": "#/$defs/recordField"
                      }
                    ]
                  }
                },
                "additionalProperties": false
              },
              "sections": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/recordSection"
                }
              }
            },
            "additionalProperties": false
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "A short machine-readable reason."
          },
          "message": {
            "type": "string",
            "description": "The same reason, as a sentence."
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "description": "RFC 9457 problem details, served instead of the Error body when the request's Accept header names application/problem+json. Every other caller receives the Error body. Unknown members must be ignored (RFC 9457 section 3.2).",
        "required": [
          "type",
          "title",
          "status",
          "code",
          "request_id",
          "retryable",
          "next_action"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "Stable per code; resolves to the code's entry at https://trooth.co/developers#problem-<code>."
          },
          "title": {
            "type": "string",
            "description": "Fixed per type."
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string",
            "description": "This occurrence, in words. Never a stack, a path or a credential."
          },
          "instance": {
            "type": "string",
            "description": "urn:trooth:request:<request_id>"
          },
          "code": {
            "type": "string",
            "description": "The stable machine code, one of those listed at https://trooth.co/developers#errors."
          },
          "request_id": {
            "type": "string",
            "description": "The same value as the X-Request-Id response header."
          },
          "retryable": {
            "type": "boolean"
          },
          "retry_after": {
            "type": "integer",
            "description": "Seconds, the same number as Retry-After. Present only when a wait is known."
          },
          "retry_at": {
            "type": "string",
            "format": "date-time"
          },
          "next_action": {
            "type": "string",
            "enum": [
              "retry_later",
              "fix_request",
              "start_over",
              "resync",
              "use_current_record",
              "none"
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pointer": {
                  "type": "string"
                },
                "parameter": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "DirectorySummary": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "standing"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "standing": {
            "enum": [
              "Witnessed",
              "Self-published"
            ]
          },
          "industry": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "tagline": {
            "type": "string"
          },
          "last_scan": {
            "type": "string",
            "description": "The date of the last witnessed reading, when there is one."
          }
        }
      },
      "DirectorySearch": {
        "type": "object",
        "required": [
          "results",
          "total",
          "next_offset",
          "next_cursor"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DirectorySummary"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "next_offset": {
            "type": [
              "integer",
              "null"
            ],
            "deprecated": true
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "error": {
            "type": "string"
          }
        }
      },
      "DirectoryFeatured": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DirectorySummary"
            }
          }
        }
      },
      "DirectoryVendor": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "standing"
        ],
        "description": "A DirectorySummary with the published profile's sections. Fields beyond these are additive.",
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "standing": {
            "enum": [
              "Witnessed",
              "Self-published"
            ]
          },
          "tagline": {
            "type": "string"
          },
          "last_scan": {
            "type": "string"
          }
        }
      },
      "PublicMesh": {
        "type": "object",
        "required": [
          "company",
          "frameworks",
          "pillars",
          "providers",
          "controls"
        ],
        "properties": {
          "sample": {
            "type": "boolean"
          },
          "company": {
            "type": "object",
            "required": [
              "name",
              "handle",
              "updatedAt"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "handle": {
                "type": "string"
              },
              "updatedAt": {
                "type": "string",
                "description": "The last edit to the company. Not an observation time."
              }
            }
          },
          "frameworks": {
            "type": "array",
            "maxItems": 0,
            "description": "Retired 2026-09-26; always empty."
          },
          "pillars": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "label",
                "status"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "restricted": {
                  "type": "boolean"
                },
                "observedAt": {
                  "type": "string",
                  "description": "Added 2026-10-04. When Trooth last read this area, present only when the upstream states it for the area and the area is not restricted."
                },
                "sourceRef": {
                  "type": "string",
                  "description": "Added 2026-10-04. The upstream's reference to the reading behind this area, when it gives one."
                }
              }
            }
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "label",
                "status"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "lastSync": {
                  "type": "string",
                  "description": "Kept for older readers. Since 2026-10-04 it dates no area and no badge: the newest provider read says nothing about the age of an unrelated area."
                }
              }
            }
          },
          "rollup": {
            "type": "array",
            "description": "Added 2026-10-04. Every area as one fact, held to its own category window (lib/evidence.ts FRESHNESS_POLICY). observedAt is null and freshness unknown when no per-area read time is published; unknown is never shown as current.",
            "items": {
              "type": "object",
              "required": [
                "pillarId",
                "label",
                "status",
                "counted",
                "evidenceClass",
                "observation",
                "sourceRef",
                "observedAt",
                "validity",
                "freshness",
                "scope",
                "unknown"
              ],
              "properties": {
                "pillarId": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "status": {
                  "enum": [
                    "witnessed",
                    "attention",
                    "failing",
                    "not_started",
                    "restricted"
                  ]
                },
                "counted": {
                  "type": "boolean"
                },
                "evidenceClass": {
                  "enum": [
                    "trooth_observation",
                    "no_evidence",
                    "restricted"
                  ]
                },
                "observation": {
                  "type": "string"
                },
                "sourceRef": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ]
                },
                "observedAt": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ]
                },
                "validity": {
                  "type": "object",
                  "required": [
                    "category",
                    "windowDays",
                    "validUntil"
                  ],
                  "properties": {
                    "category": {
                      "type": "string"
                    },
                    "windowDays": {
                      "type": "integer"
                    },
                    "validUntil": {
                      "oneOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    }
                  }
                },
                "freshness": {
                  "enum": [
                    "current",
                    "due",
                    "stale",
                    "unknown"
                  ]
                },
                "scope": {
                  "type": "object",
                  "required": [
                    "subject",
                    "scope",
                    "area"
                  ],
                  "properties": {
                    "subject": {
                      "type": "string"
                    },
                    "scope": {
                      "const": "company"
                    },
                    "area": {
                      "type": "string"
                    }
                  }
                },
                "unknown": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "badge": {
            "type": "object",
            "description": "Added 2026-10-04. The state and the two lines the badge script and the badge image print, derived from rollup.",
            "required": [
              "kind",
              "line",
              "detail",
              "asOf",
              "counted",
              "witnessed",
              "staleAreas",
              "undatedAreas",
              "restrictedAreas"
            ],
            "properties": {
              "kind": {
                "enum": [
                  "witnessed",
                  "partial",
                  "listed"
                ]
              },
              "line": {
                "type": "string"
              },
              "detail": {
                "type": "string"
              },
              "asOf": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "type": "string"
                  }
                ],
                "description": "The oldest read of the witnessed areas, only when every one is dated."
              },
              "counted": {
                "type": "integer"
              },
              "witnessed": {
                "type": "integer"
              },
              "staleAreas": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "undatedAreas": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "restrictedAreas": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "controls": {
            "type": "array",
            "maxItems": 0
          },
          "freshness30d": {
            "type": "integer"
          },
          "disclaimer": {
            "type": "string"
          },
          "retired": {
            "type": "object"
          }
        }
      },
      "Comparison": {
        "type": "object",
        "required": [
          "vendors"
        ],
        "properties": {
          "vendors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicMesh"
            }
          },
          "unavailable": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "frameworkRows": {
            "type": "array",
            "maxItems": 0,
            "description": "Retired 2026-09-26; always empty."
          },
          "retired": {
            "type": "object"
          },
          "states": {
            "type": "array",
            "description": "The cell states, in the words the comparison page prints. A cell with a plain answer has the state answered, which needs no legend entry.",
            "items": {
              "type": "object",
              "required": [
                "id",
                "label",
                "meaning"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "meaning": {
                  "type": "string"
                }
              }
            }
          },
          "comparison": {
            "type": "object",
            "required": [
              "comparedAt",
              "companies",
              "rows"
            ],
            "properties": {
              "comparedAt": {
                "type": "string"
              },
              "snapshot": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "savedAt": {
                    "type": "string"
                  }
                }
              },
              "companies": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "key",
                    "state"
                  ],
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "listed",
                        "not-listed",
                        "unread"
                      ]
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "slug": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "recordVersion": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "recordAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              },
              "rows": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "key",
                    "category",
                    "label",
                    "cells"
                  ],
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "state": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "not-like-for-like when a stated edition, period or scope differs; otherwise null."
                    },
                    "note": {
                      "type": "string"
                    },
                    "cells": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "state",
                          "label",
                          "flags"
                        ],
                        "properties": {
                          "state": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "value": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "flags": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "conflicting",
                                "outdated"
                              ]
                            }
                          },
                          "origin": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "scope": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "dating": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "reason": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Suggestions": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "name",
                "domain",
                "slug",
                "witnessed"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "domain": {
                  "type": "string"
                },
                "slug": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "witnessed": {
                  "type": "boolean"
                },
                "tagline": {
                  "type": "string"
                },
                "logoUrl": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "LegalDocument": {
        "type": "object",
        "required": [
          "slug",
          "title",
          "effective",
          "html"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "effective": {
            "type": "string"
          },
          "html": {
            "type": "string"
          }
        }
      },
      "Version": {
        "type": "object",
        "required": [
          "stamp"
        ],
        "properties": {
          "stamp": {
            "type": "string"
          }
        }
      }
    }
  },
  "x-counts": {
    "paths": 9,
    "operations": 9
  },
  "paths": {
    "/api/mobile/directory/search": {
      "get": {
        "summary": "Search the Trooth Network",
        "description": "Full-text search over published company listings. Returns the same companies the public directory shows. Prefer cursor pagination: pass the returned next_cursor back as cursor. Offset pagination still works and is kept for clients that already ship with it, but it is deprecated: it counts rows rather than naming a position, so a directory that grows between two requests can serve the same company twice and skip another without erroring. A response to an offset-paged request carries a Deprecation header and a Link header with rel=\"deprecation\"; no withdrawal date is set, so no Sunset header is sent. A cursor that cannot be read returns 400 rather than an empty page. Cached at the edge for 60 seconds with a 300 second stale-while-revalidate window. BEST-EFFORT, MUTABLE ENUMERATION: there is no snapshot. Every page reads the live directory, and the cursor names a position in the sort order, not a point in time; it is not bound to a snapshot, an as-of time or an expiry. A company whose witnessed state changes between two pages can be missed or returned twice, so a walk is not a consistent full export. Drop repeats by slug and walk again to reconcile. The fact pages of /api/network/profile are a different mechanism: their cursor is bound to one record version.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search terms. Matched against company name and description.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "industry",
            "in": "query",
            "required": false,
            "description": "Restrict to one industry.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page. Clamped to 100; anything unreadable falls back to 25.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque page marker. Use next_cursor from the previous response. Preferred over offset. It names a position in a live list, not a snapshot: it carries no as-of time and no expiry.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Zero-based offset. Use next_offset from the previous response. Deprecated in favor of cursor; still answered, with a Deprecation header on the response.",
            "schema": {
              "type": "integer"
            },
            "deprecated": true
          }
        ],
        "operationId": "get_api_mobile_directory_search",
        "security": [],
        "responses": {
          "200": {
            "description": "A page of results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectorySearch"
                }
              }
            }
          },
          "400": {
            "description": "A cursor that cannot be read.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "The directory could not be read. Not a statement about any company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/mobile/directory/featured": {
      "get": {
        "summary": "Companies with a witnessed record",
        "description": "The Trooth Network's front page: published companies, those with a witnessed record first. Cached at the edge for 120 seconds.",
        "operationId": "get_api_mobile_directory_featured",
        "security": [],
        "responses": {
          "200": {
            "description": "Published companies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryFeatured"
                }
              }
            }
          },
          "503": {
            "description": "The directory could not be read.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/mobile/directory/vendor/{slug}": {
      "get": {
        "summary": "One company record",
        "description": "A published company profile, and its live witnessed state where Trooth has witnessed the company. A slug of the form d--example.com resolves a witnessed company that has not yet published a rich profile. Cached at the edge for 120 seconds.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Company slug, or d--<domain>.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_api_mobile_directory_vendor_slug_",
        "security": [],
        "responses": {
          "200": {
            "description": "The company record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryVendor"
                }
              }
            }
          },
          "404": {
            "description": "The company is not on the Trooth Network.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "The record could not be read. Not a statement about the company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-mesh/{handle}": {
      "get": {
        "summary": "A company's public evidence rollup",
        "description": "The buyer-facing projection of a company's evidence: the witnessed state per area (the pillars key), provider status with the time each connected system was last read. Framework rollups were retired on 2026-09-26 and the frameworks array is always empty. Individual control rows, owners and internal notes are never returned here. Responds 404 when the company has no public record, which is a privacy-preserving answer rather than an error. Readable cross-origin (Access-Control-Allow-Origin: *); this is the read the embeddable badge performs. Cached at the edge for 300 seconds.",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "Company handle.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_api_public_mesh_handle_",
        "security": [],
        "responses": {
          "200": {
            "description": "The rollup, with framework percentages retired (empty) since 2026-09-26.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMesh"
                }
              }
            }
          },
          "404": {
            "description": "No public record for this handle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "The record could not be read. Not a statement about the company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/network/profile": {
      "get": {
        "summary": "One company's canonical profile and witness facts",
        "description": "The canonical published profile for a company, keyed by domain or slug, with the witness facts a buyer's tool needs: the `standing` field (the witnessed state), lastWitnessed (freshness), firstWitnessedAt and the unbroken run of Trooth's own hourly readings (continuity), and checksPassed out of checksRun on the signed result (coverage: checks that read as expected, out of checks run). Continuity is never claimed older than Trooth's own record and stays null until two consecutive readings agree. Responds { found: false } with 200 when no profile is published, 400 when q is missing. Cached at the edge for 120 seconds. Every response carries a `methodology` object stating the reading cadence, the gap tolerance that defines an unbroken series, the retention period, the per-category freshness windows, and an explicit list of coverage limits - what Trooth does not read. A caller restating `witnessed` or `updatedAt` elsewhere must carry those limits with it: neither field is a certification nor an audit opinion. Only the witness statement is signed; the profile, its facts and the company's text are not (see `signing`). `sectionCapabilities` links the section map, which says which sections this record and the other projections carry. Limited to 600 requests a minute and 20,000 an hour per client network (an IPv4 address, or an IPv6 /64), counted across server instances; over either window the answer is 429 with Retry-After set to the seconds until that window resets. If the counting store fails, each instance counts alone at the same ceilings and the read is not refused.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Company domain (example.com) or Trooth slug.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "required": false,
            "description": "Pin the response contract version, here or in the Trooth-Contract request header (not both with different values, which is refused with 400). Omit for the current contract. A version this deployment does not answer is refused with 400 rather than approximated. Every response names the contract that served it in the Trooth-Contract response header and in contractVersion, and the one requested in requestedContract; a request for contract 1 is served contract 1 itself, with Deprecation and Sunset headers, until its withdrawal on 2027-03-01, leaving out every fact two sources answered differently and naming each in withheldContested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sections",
            "in": "query",
            "required": false,
            "description": "Comma-separated categories to return facts from: identity, registration, hosting, pricing, pricing-add-ons, security, privacy, privacy-roles, recovery, ai-practices. Omit for all. An unknown name is refused with 400 and the valid list; a section's conflicts travel with its facts.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Facts per page, 1 to 200. With limit or after, a page carries up to 100 facts unless limit says otherwise; with neither, the response carries every fact in the selected sections. The response's selection object says how many facts the selected sections hold, how many this page carries and whether it was truncated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "The selection.next cursor from the previous page. It is bound to the record version and to the sections asked for: if the company publishes a new version between pages, the cursor is refused with 400 (stale_cursor) rather than served from a different record. A cursor also expires 24 hours after the page that issued it and is then refused with 400 (cursor_expired).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_api_network_profile",
        "security": [],
        "responses": {
          "200": {
            "description": "The record, or { found: false } when the Network holds none. The body is written to a published JSON Schema and validated against it on every push and after every deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkProfileV2"
                }
              }
            }
          },
          "400": {
            "description": "The q parameter is missing, a contract version this deployment does not answer was requested, the query and the Trooth-Contract header asked for different contracts, a section name or limit could not be applied exactly, or an after cursor is malformed, stale or was issued for other sections.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Over the per-network budget. Retry-After is the number of seconds until the window that refused resets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Trooth could not read its own record on this load. Retry after the Retry-After interval; nothing is asserted about the company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/compare": {
      "get": {
        "summary": "Compare companies side by side",
        "description": "A comparison of published witnessed facts across up to four companies. Control rows are stripped, so a company's internal posture is never exposed through the comparison. `comparison` is the table a person sees on /compare, decided by the same module: every cell carries one of the states in `states`, the legend the page prints. A parameter at.<handle>=<n> reads that company at stored record version n, as a dated comparison link does. Rate limited.",
        "parameters": [
          {
            "name": "handles",
            "in": "query",
            "required": false,
            "description": "Comma-separated company handles. Required unless snapshot is given.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot",
            "in": "query",
            "required": false,
            "description": "A saved comparison snapshot id (cs_ and 32 hex). Answers that snapshot: its companies, each read at the record version saved with it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_api_compare",
        "security": [],
        "responses": {
          "200": {
            "description": "The comparison.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comparison"
                }
              }
            }
          },
          "404": {
            "description": "No saved snapshot answers this id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after a short pause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "502": {
            "description": "No company in the request could be read.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "The saved snapshot could not be read just now.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/network/suggest": {
      "get": {
        "summary": "Typeahead over published companies",
        "description": "Name-to-company suggestions for a search box, over the same published listings the directory shows. Cached at the edge for 60 seconds.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Partial company name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_api_network_suggest",
        "security": [],
        "responses": {
          "200": {
            "description": "Suggestions, possibly none.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Suggestions"
                }
              }
            }
          }
        }
      }
    },
    "/api/legal/{slug}": {
      "get": {
        "summary": "A published legal document",
        "description": "The full text of one of the twenty published Trooth legal documents, with its title, effective date and body. The slug must be one of the published set; anything else responds 404. Cached at the edge for one hour with a one day stale-while-revalidate window.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Document slug, for example privacy, terms, subprocessors.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_api_legal_slug_",
        "security": [],
        "responses": {
          "200": {
[...]
